﻿@using BookWise.Models
@model BookQuickView

<div id="quick_view_container" style="display: block;">
    <div id="placeholder_product_quick_view" class="woocommerce">

        <div id="product-200" class="post-200 type-product status-publish has-post-thumbnail product_cat-arts-photography product_cat-audiobooks product_cat-biographies product_cat-business-money product_cat-bussiness-money product_cat-calendars product_cat-casual-shirts product_cat-childrens-books product_cat-chinos product_cat-comics product_cat-computers product_cat-cookbooks product_cat-dress-pants product_cat-education product_cat-limited-edition product_cat-mens product_cat-womens product_tag-tag1 product_tag-tag2 product_tag-tag3 product_tag-tag4 product first instock sale taxable shipping-taxable purchasable product-type-simple">

            <a href="javascript:void(0)" id="close_quickview"></a>
            <div class="product_content_wrapper">
                <div class="row">


                    <div class="col-xs-6 columns">
                        <div class="product-images-wrapper">


                            <div class="woocommerce-product-gallery woocommerce-product-gallery--with-images woocommerce-product-gallery--columns-4 images" data-columns="4" style="opacity: 0; transition: opacity .25s ease-in-out;">
                                <figure class="woocommerce-product-gallery__wrapper">
                                    <div class="woocommerce-product-gallery__image"><img src="~/Content/QuickView/@Url.Content(Model.CoverPage)"  alt="@Model.Name" title="@Model.Name" /></div>
                                </figure>
                            </div>

                        </div>
                    </div><!-- .columns -->

                    <div class="col-xs-6 columns">
                        <div class="product_infos">
                                <h3 class="product_title entry-title">@Model.Name</h3>
                            @if (Model.ReadBookURL != null)
                            {
                                <a href="/Ebook/@Model.ReadBookURL/" target="_blank" class="single_add_to_cart_button button alt">
                                    Look Inside
                                </a>
                            }
                            <div class="product_excerpt">
                                <div class="short-description" itemprop="description">
                                    @*<p>@Html.Raw(Html.Encode(Model.Description).Replace("\n", "<br />"))</p>*@
                                    @*<span class="line-breaks">@Model.Description</span>*@
                                </div>
                            </div>
                            @*if (Model.PngImage == false)
    {
        <p class="message">
            Html.Raw("<p>" + Model.Description + "</p>")
        </p>
    }
    else
    {
        <img src="~/Content/QuickView/Url.Content(Model.Description)" class="img-responsive" alt="Model.Name" title="Model.Name" />
    }*@
                            <p class="stock in-stock" style="margin-top:20px;">Available in stock</p>

                            @if (Model.Price != null)
                            {
                                <p><b style="color:black">Price: </b>PKR.@Model.Price/-</p>
                            }
                            @if (Model.ISBN != null)
                            {
                                <p><b style="color:black">ISBN: </b>@Model.ISBN</p>
                            }
                        </div>
                    </div><!-- .columns -->
                </div><!-- .row -->
            </div><!-- .product_content_wrapper -->
        </div><!-- #product-200 -->

    </div>
</div>
