﻿@model List<BookWise.Models.Books>
@{
    Layout = null;
}

<!Doctype html>
<html>
<head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">

    <!-- viewport -->
    <meta content="width=device-width,initial-scale=1" name="viewport">

    <!-- title -->
    <title>BookWise - Urdu Likhay Or Rang Bharein</title>

    <!-- add css and js for flipbook -->
    <link type="text/css" href="~/Content/Catalog/css/style.css" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="http://fonts.googleapis.com/css?family=Play:400,700">
    <link rel="icon" href="~/Content/images/BookWiseLogo.png" sizes="32x32" />
    <script src="~/Content/Catalog/js/jquery.js"></script>
    <script src="~/Content/Catalog/js/turn.js"></script>
    <script src="~/Content/Catalog/js/jquery.fullscreen.js"></script>
    <script src="~/Content/Catalog/js/jquery.address-1.6.min.js"></script>
    <script src="~/Content/Catalog/js/wait.js"></script>
    <script src="~/Content/Catalog/js/onload.js"></script>

    <!-- style css  -->
    <style>
        html, body {
            margin: 0;
            padding: 0;
            overflow: auto !important;
            font-family: 'Humanst531 BT';
        }

        #fb5-about {
            position: fixed;
            top: 5px;
            display: flex;
        }

        #fb5-form-select {
            font-family: Arial, Helvetica, sans-serif;
            box-shadow: none;
            width: 270px;
            height: 15px;
            background: black;
            border: 0;
            padding: 8px 15px;
            font-size: 11px;
            color: #a9a6a6;
            margin: 2px 0 0 0;
            box-sizing: content-box;
            border-radius: 8px;
        }
    </style>

</head>

<body>


    <!-- BEGIN FLIPBOOK STRUCTURE -->
    <div id="fb5-ajax">

        <!-- BEGIN HTML BOOK -->
        <div data-current="book5" class="fb5" id="fb5">

            <!-- PRELOADER -->
            <div class="fb5-preloader">
                <div id="wBall_1" class="wBall">
                    <div class="wInnerBall">
                    </div>
                </div>
                <div id="wBall_2" class="wBall">
                    <div class="wInnerBall">
                    </div>
                </div>
                <div id="wBall_3" class="wBall">
                    <div class="wInnerBall">
                    </div>
                </div>
                <div id="wBall_4" class="wBall">
                    <div class="wInnerBall">
                    </div>
                </div>
                <div id="wBall_5" class="wBall">
                    <div class="wInnerBall">
                    </div>
                </div>
            </div>

            <!-- BACK BUTTON -->
            <a href="/Home/" id="fb5-button-back" style="float:right">< Go to home</a>

            <!-- BACKGROUND FOR BOOK -->
            <div class="fb5-bcg-book"></div>

            <!-- BEGIN CONTAINER BOOK -->
            <div id="fb5-container-book">

                <!-- BEGIN deep linking -->
                <section id="fb5-deeplinking">
                    <ul>
                        <li data-address="page1" data-page="1"></li>
                        @for (int i = 2; i <= 13; i += 2)
                        {
                            string ad = "page" + i.ToString() + "-page" + (i + 1).ToString() + "";
                            <li data-address="@ad" data-page="@i.ToString()"></li>
                            <li data-address="@ad" data-page="@((i+1).ToString())"></li>
                        }
                        <li data-address="end" data-page="16"></li>
                    </ul>
                </section>
                <!-- END deep linking -->
                <!-- BEGIN ABOUT -->
                @*<div style="margin-bottom:10px;">
                        <section id="fb5-about" style="display:flex;">
                            <a href="javascript:setPage(2)">  <h3>Contents</h3></a>
                            <a href="javascript:setPage(7)">  <h3>Lesson 1</h3></a>
                            <a href="javascript:setPage(11)">  <h3>Lesson 3</h3></a>
                            <a class="contact" style="text-decoration:none">  <h3 style="color:indianred;">ORDER</h3></a>
                        </section>
                    </div>*@

                <!-- END ABOUT -->
                <!-- BEGIN BOOK -->
                <div id="fb5-book" style="margin-top:3%;">

                    <div data-background-image="/Content/EBooks/UrduLikhayOrRangBharein/UrduLikhayOrRangBharein01.jpg" class="">

                        <!-- container page book -->
                        <div class="fb5-cont-page-book">

                            <!-- description for page -->
                            <div class="fb5-page-book">

                            </div>
                        </div> <!-- end container page book -->

                    </div>

                    @foreach (var item in Model)
                    {
                        if (item.Name == "DentalNewCategory")
                        {
                            <div data-background-image="" class="">

                                <!-- begin container page book -->
                                <div class="fb5-cont-page-book">

                                    <!-- description for page  -->
                                    <div class="fb5-page-book">
                                        <div id="fb5-cover">
                                            <ul>
                                                <li><h2>@item.Category</h2></li>
                                            </ul>
                                            <img data-src="img/logo-on-book.png" id="fb5-logo-cover">
                                        </div>
                                    </div>
                                    <!-- end description for page  -->
                                    <!-- number page and title -->
                                    <div class="fb5-meta">
                                        <span class="fb5-description"></span>
                                        <span class="fb5-num"></span>
                                    </div>
                                    <!-- end number page and title  -->
                                </div>
                                <!-- end container page book -->

                            </div>
                        }
                        else
                        {
                            <div data-background-image="/Content/EBooks/@item.Category/@item.Name" class="">

                                <!-- container page book -->
                                <div class="fb5-cont-page-book">

                                    <!-- description for page -->
                                    <div class="fb5-page-book">

                                    </div>
                                </div> <!-- end container page book -->

                            </div>
                        }
                    }

                </div>
                <!-- END BOOK -->
                <!-- arrows -->
                <a class="fb5-nav-arrow prev"></a>
                <a class="fb5-nav-arrow next"></a>


            </div>
            <!-- END CONTAINER BOOK -->
            <!-- BEGIN FOOTER -->
            <div id="fb5-footer">

                <div class="fb5-bcg-tools"></div>

                <div class="fb5-menu" id="fb5-center">
                    <ul>
                        <!-- icon_home -->
                        <li>
                            <a title="SHOW HOME PAGE" href="/Home/" class="fb5-home"></a>
                        </li>
                        <!-- icon download -->
                        @*<li>
                                <a title="DOWNLOAD (ZIP)  " class="fb5-download" href="~/Content/Catalog/img/file.pdf"></a>
                            </li>*@


                        <!-- icon_zoom_in -->
                        <li>
                            <a title="ZOOM IN" class="fb5-zoom-in"></a>
                        </li>

                        <!-- icon_zoom_out -->

                        <li>
                            <a title="ZOOM OUT " class="fb5-zoom-out"></a>
                        </li>

                        <!-- icon_zoom_auto -->
                        <li>
                            <a title="ZOOM AUTO " class="fb5-zoom-auto"></a>
                        </li>

                        <!-- icon_zoom_original -->
                        <li>
                            <a title="ZOOM ORIGINAL (SCALE 1:1)" class="fb5-zoom-original"></a>
                        </li>


                        <!-- icon_allpages -->
                        @*<li>
                                <a title="SHOW ALL PAGES " class="fb5-show-all"></a>
                            </li>*@



                    </ul>
                </div>

                <div class="fb5-menu" id="fb5-right">
                    <ul>
                        <!-- icon page manager -->
                        <li class="fb5-goto">
                            <label for="fb5-page-number" id="fb5-label-page-number">PAGE</label>
                            <input type="text" id="fb5-page-number">
                            <button type="button">GO</button>
                        </li>

                        <!-- icon contact form -->
                        <li>
                            <a title="ORDER NOW" class="contact"></a>
                        </li>

                        <!-- icon fullscreen -->
                        <li>
                            <a title="FULL / NORMAL SCREEN" class="fb5-fullscreen"></a>
                        </li>

                    </ul>
                </div>
            </div>
            <!-- END FOOTER -->
            <!-- BEGIN CONTACT FORM -->
            <div id="fb5-contact" class="fb5-overlay">

                <form>
                    <a class="fb5-close">X</a>

                    <fieldset>
                        <h3>BOOKWISE - ORDER DETAILS</h3>
                        <p>
                            <select class="req" id="fb5-form-select">
                                <option id="Cat1">Category (Optional)</option>

                                <option value="Cat1">Category 1</option>

                                <option value="Cat1">Category 2</option>

                                <option value="Cat1">Category 3</option>

                                <option value="Cat1">Category 4</option>

                                <option value="Cat1">Category 5</option>

                            </select>
                        </p>
                        <p>
                            <input type="number" placeholder="Quantity (Optional)" min="1" class="req" id="fb5-form-quantity">
                        </p>

                        <p>
                            <input type="email" class="req" id="fb5-form-email" placeholder="Email (Optional)">
                        </p>

                        <p>
                            <input type="text" class="req" id="fb5-form-phoneno" placeholder="Phone Number...">
                        </p>

                        <p>
                            <textarea class="req" id="fb5-form-message">Comment (Optional)</textarea>
                        </p>

                        <p>
                            <button type="button">PLACE ORDER</button>
                        </p>
                    </fieldset>

                    @*<fieldset class="fb5-thanks">
                            <h1>Thank You...!</h1>
                            <p style="font-size:17px;">We are pleased that you placed an order for Medsal International product, we will contact you soon for order confirmation.</p>
                        </fieldset>*@
                </form>

            </div>
            <!-- END CONTACT FORM -->
            <!-- BEGIN ALL PAGES -->
            <div id="fb5-all-pages" class="fb5-overlay">

                <section class="fb5-container-pages">

                    <div id="fb5-menu-holder">

                        <ul id="fb5-slider">

                            <li class="1">
                                <img alt="" data-src="/Content/Ebooks/Cat1/Image01.jpg">
                            </li>

                            <li class="2">
                                <img alt="" data-src="/Content/Ebooks/Cat1/Image01.jpg">
                            </li>

                            <li class="3">
                                <img alt="" data-src="/Content/Ebooks/Cat1/Image01.jpg">
                            </li>

                            <li class="4">
                                <img alt="" data-src="/Content/Ebooks/Cat1/Image01.jpg" ">
                            </li>

                            <li class="6">
                                <img alt="" data-src="/Content/Ebooks/Cat1/Image01.jpg" ">
                            </li>

                        </ul>

                    </div>

                </section>

            </div>
            <!-- END ALL PAGES -->
        </div>
        <!-- END HTML BOOK -->
    </div>
    <!-- END FLIPBOOK STRUCTURE -->
    <!-- CONFIGURATION FLIPBOOK -->
    <script>
        jQuery('#fb5').data('config',
        {
            "page_width": "550",
            "page_height": "715",
            "email_form": "office@somedomain.com",
            "zoom_double_click": "1",
            "zoom_step": "0.06",
            "double_click_enabled": "true",
            "tooltip_visible": "true",
            "toolbar_visible": "true",
            "gotopage_width": "30",
            "deeplinking_enabled": "true",
            "rtl": "false",
            'full_area': 'true',
            'lazy_loading_thumbs': 'false',
            'lazy_loading_pages': 'false'
        })

        //function SubmitOrder() {
        //    var productcode = $("#fb5-form-code").val();
        //    var category = $('#cat option:selected').val();
        //    var qty = $("#fb5-form-quantity").val();
        //    var email = $("#fb5-form-email").val();
        //    var pn = $("#fb5-form-phoneno").val();
        //    var coments = $("#fb5-form-message").val();
        //    if (productcode != '' && pn != '') {
        //        $.ajax({
        //            url: "https://docs.google.com/forms/d/e/1FAIpQLSeBj9IlB30QSDONMMwfkE0SItVKM_tEGHGSxKWfbwoNCRA-kg/formResponse",
        //            data: {
        //                "entry.229560371": productcode,
        //                "entry.1048197076": category,
        //                "entry.5465038": qty,
        //                "entry.1885942304": email,
        //                "entry.657451121": pn,
        //                "entry.684941228": coments,

        //            },
        //            type: "Post",
        //            dataType: "xml",
        //            statusCode:
        //            {
        //                0: function (response) {
        //                    $("#fb5-form-code").val('');
        //                    $("#cat").val('');
        //                    $("#fb5-form-quantity").val(1);
        //                    $("#fb5-form-email").val('');
        //                    $("#fb5-form-phoneno").val('');
        //                    $("#fb5-form-message").val('');
        //                    $("#fb5-contact fieldset").hide();
        //                    $("#fb5-contact fieldset.fb5-thanks").show();
        //                }
        //            }
        //        });
        //    } else {
        //        alert("Please enter mendatory fields to place order!");
        //    }
        //}
    </script>


</body>
</html>
