﻿
@{
    ViewBag.Title = "AboutUs";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<div class="page-content">
    <div class="container-fluid">
        <article id="post-74" class="post-74 page type-page status-publish hentry">
            <div class="vc_row wpb_row vc_row-fluid banner-box-left vc_custom_1490772168459 vc_column-gap-15">
            </div>
            <div class="vc_row wpb_row vc_row-fluid vc_column-gap-15">
                <div class="pull-right wpb_column vc_column_container vc_col-sm-8 vc_col-lg-9 vc_col-md-8">
                    <div class="vc_column-inner vc_custom_1498037949212">
                        <div class="wpb_wrapper">

                            <h3 style="font-size: 18px;text-align: left" class="vc_custom_heading custom-heading vc_custom_1490581250175">About Us</h3>

                            <div class="row">
                                <div class="col-sm-12" style="margin-bottom:30px;">
                                    <h4>Our Vision</h4>
                                    <p>To be recognized as the leading publishers of educational solutions meant for unlocking the full potential of young learners through developing lifelong learning textbooks.</p>

                                    <h4>Our Mission</h4>
                                    <p>To provide exceptional education to students to help them make progress in their lives through learning because we believe that learning broadens up minds, instills creativity and opens up opportunities for successful careers and better lives.</p>

                                    <h4>Who We Are</h4>
                                    <p>At Book Wise, we work together to:</p>
                                    <p>
                                        •	Meet our customers’ expectations, by understanding their needs<br />
                                        •	Device planning and communication strategies to meet challenging company objectives<br />
                                        •	Enhance Bookwise’s image in the marketplace, by promoting creative ideas through developing workable partnerships and innovative products<br />
                                        •	Create a positive working environment through supportive, appreciative and rewarding approach to encourage a winning spirit<br />
                                        •	Make Bookwise a market-driven, technology enabled organization
                                    </p>
                                    <p>Our devoted team comprising _____ employees operates  _____ cities across Pakistan. Our local presence allows us to get close to the people who matter – the educators, teachers, and students who use our products. We aim to work with them towards accomplishment of their educational goals through a lifetime of learning by providing them with school textbooks designed in an engaging format with an appropriate content.</p>

                                    <h4>Our Story</h4>
                                    <p>
                                        The founder of Bookwise enjoys a commendable experience of local book trade. With the passion and belief in the importance of learning together with his valuable experience in trade, he decided to bring about the best textbooks in the market by founding “Bookwise” in 2007. At first, Bookwise collaborated with the leading local and international publishers of repute and started working with them as their distributors of school textbooks. Soon, Bookwise was regularly quoted in the trade as authentic distributors of well known publishers.
                                        Over the years, Bookwise has gained an outstanding reputation in the field of education. From building lasting relationships with the key publishers in and out Pakistan, the company has started developing local school textbooks. The company’s management is strongly inspired to harness modern education in the country at an extremely affordable cost and bring about an educational environment in the local schools where even the less privileged students are likely to grow towards their fullest potential. This contemplates management’s brave ideology that Bookwise exists to improve lives through learning by producing locally developed, high-quality, trusted school textbooks that are not only based on national curriculum but meet contemporary learning standards.
                                    </p>

                                    <h4>Our Values</h4>
                                    <p>
                                        •	Customer focus<br />
                                        •	Strive for Innovation and improvement in education<br />
                                        •	Committed to excellence<br />
                                        •	Develop lifelong learning solutions<br />
                                        •	Encourage teamwork, employee development /recognition<br />
                                        •	Upright, honest, and transparent<br />
                                        •	Respect for individuals and their dignity<br />
                                    </p>

                                    <h4>What We Do</h4>
                                    <p>We work closely with educators, school teachers, researchers, authors, and local experts to spread education all over Pakistan in a meaningful and inspiring way . We make sure that we can really meet the people who use our products and work with them to provide the personalized solutions they need for learning today and in the future.</p>

                                    @*old Data starts*@
                                    @*<p>We started operating as wholesaler of school books in 2005 by starting sales from an outlet in Urdu Bazar, known wholesale market of Lahore. Later we got engaged in distribution of known brands of the school industry.</p><br />

                                        <p>Book Wise enjoys consistent high growth in sales since it started operations. Today, our customers include many schools, retailers, wholesalers, and suppliers of school books. Our customer base has developed throughout the country, from Karachi to Skardu and Quetta to Peshawar. Key to customers' loyalty with us is timely delivery, availability and service.</p>*@
                                </div>
                                @*<div class="col-sm-6">
                                        <img src="~/Content/images/AboutUs.png" />
                                    </div>*@
                                @*old data ends*@
                            </div>

                        </div>
                    </div>
                </div>
                <div class="pull-left wpb_column vc_column_container vc_col-sm-4 vc_col-lg-3 vc_col-md-4">
                    <div class="vc_column-inner ">
                        <div class="wpb_wrapper">
                            <div class="vc_row wpb_row vc_inner vc_row-fluid vc_custom_1490545088729">
                                <div class="wpb_column vc_column_container vc_col-sm-12">
                                    <div class="vc_column-inner ">
                                        <div class="wpb_wrapper">
                                            <div class="wpb_widgetised_column wpb_content_element">
                                                <div class="wpb_wrapper">

                                                    <aside id="vg_skybook_category_treeview-2" class="widget sidebar sidebar-shop widget_vg_skybook_category_treeview">
                                                        <div class="widget-title"><h3 class="wgtitle style-title">Categories</h3></div>
                                                        <div id="vgw-category-treeview_sidebar" class="vg-skybook-category-treeview ">
                                                            <ul class="level0 filetree">
                                                                <li class="0">
                                                                    <a href="/BySeries/ScienceWorld/"><span class="catTitle folder">Science World</span></a>
                                                                <li class="0">
                                                                    <a href="/BySeries/GrammarMore/"><span class="catTitle folder">Grammar & More</span></a>
                                                                </li>
                                                                <li class="0">
                                                                    <a href="/BySeries/RightClick/"><span class="catTitle folder">Right Click: My Book of Computers</span></a>
                                                                </li>
                                                                <li class="0">
                                                                    <a href="/BySeries/UrduLikhai/"><span class="catTitle folder">Urdu Likhai</span></a>
                                                                </li>
                                                                <li class="0">
                                                                    <a href="/BySeries/FunArt/"><span class="catTitle folder">Fun Art: Art & Craft Activity Books</span></a>
                                                                </li>
                                                                <li class="0">
                                                                    <a href="/BySeries/SocialStudies/"><span class="catTitle folder">Social Studies for Pakistan</span></a>
                                                                </li>
                                                                <li class="0">
                                                                    <a href="/BySeries/SecondarySocialStudies/"><span class="catTitle folder">Secondary Social Studies for Pakistan</span></a>
                                                                </li>
                                                                <li class="0">
                                                                    <a href="/BySeries/BeginnerSeries/"><span class="catTitle folder">Beginners Series</span></a>
                                                                </li>
                                                                <li class="0">
                                                                    <a href="/BySeries/LetsStartLearning/"><span class="catTitle folder">Let's Start Learning</span></a>
                                                                </li>
                                                                <li class="0">
                                                                    <a href="/BySeries/MyFunToLearnLanguage/"><span class="catTitle folder">My Fun-to-Learn Language</span></a>
                                                                </li>
                                                                <li class="0">
                                                                    <a href="/BySeries/MyFunToLearnMath/"><span class="catTitle folder">My Fun-to-Learn Maths</span></a>
                                                                </li>
                                                                <li class="0">
                                                                    <a href="/BySeries/UrduKiAmliKitab/"><span class="catTitle folder">Urdu Ki Amli Kitab</span></a>
                                                                </li>
                                                                <li class="0">
                                                                    <a href="/BySeries/AlhusnaIslamyat"><span class="catTitle folder">Alhusna Islamiyat</span></a>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </aside>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="vc_row-full-width vc_clearfix"></div>
        </article>
    </div>
</div>
<script type="text/javascript">
    jQuery(document).ready(function ($) {
        $(".bookquickview").click(function (event) {
            event.preventDefault();
            var elt = $(this);
            $.ajax(
                {
                    url: elt.attr("href"),
                    type: "get"
                }
            ).done(function (result) {
                $("#myquickviewnew").html(result);
            });
        });
    });
</script>





