﻿
@{
    ViewBag.Title = "ContactUs";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
    int totalbfcomma = 0;
}
<style>
    #tbl td{
        vertical-align:middle;
    }
</style>
<div class="container" style="text-align:center;  margin-top:50px;">
    <img src="~/Content/images/ContactUs.jpeg" style="text-align:center;"/>
</div>
<div class="container" style="margin-bottom:30px; margin-top:30px;">
</div>



