﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}
<style>
    .carousel-control-next-icon, .carousel-control-prev-icon{
        height: 60px;
        width: 60px;
        background-color: rgba(242, 7, 7, 0.40);
    }
</style>

<div class="wpb_column vc_column_container vc_col-sm-12 vc_col-lg-12 vc_col-md-12">
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner" role="listbox">
            <!-- Slide One - Set the background image for this slide in the line below -->
            <div class="carousel-item active">
                <img src="~/Content/images/Slider1.jpg" />
            </div>
            <!-- Slide Two - Set the background image for this slide in the line below -->
            <div class="carousel-item">
                <img src="~/Content/images/Slider2.jpg" />
            </div>
            <!-- Slide Three - Set the background image for this slide in the line below -->
            <div class="carousel-item">
                <img src="~/Content/images/Slider3.jpg" />
            </div>
            <div class="carousel-item">
                <img src="~/Content/images/Slider4.jpg" />
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>

</div>
<div class="page-content">
    <div class="container-fluid">
        <article id="post-74" class="post-74 page type-page status-publish hentry">
            <div class="vc_row wpb_row vc_row-fluid banner-box-left vc_custom_1490772168459 vc_column-gap-15">


            </div>
            <div class="vc_row wpb_row vc_row-fluid vc_column-gap-15">

                <div class="pull-right wpb_column vc_column_container vc_col-sm-8 vc_col-lg-9 vc_col-md-8">
                    <div class="vc_column-inner vc_custom_1498037949212">
                        <div class="wpb_wrapper">

                            <div class="shop-products grid-view row" style="margin-top:5px;">

                                <div class="first vgw-items col-md-2 col-xs-6 post-207 product type-product status-publish has-post-thumbnail product_cat-arts-photography product_cat-audiobooks product_cat-biographies product_cat-business-money product_cat-bussiness-money product_cat-calendars product_cat-casual-shirts product_cat-childrens-books product_cat-chinos product_cat-comics product_cat-computers product_cat-cookbooks product_cat-dress-pants product_cat-education product_cat-limited-edition product_cat-mens product_cat-womens product_tag-tag1 product_tag-tag2 product_tag-tag3 product_tag-tag4 instock sale featured taxable shipping-taxable purchasable product-type-simple">

                                    <div class="vgw-item effect-3">
                                        <div class="list-col4">

                                            <div class="product-image">

                                                <div class="product-label">

                                                </div>
                                                <a href="/BySeries/ScienceWorld/" class="bookquickview" title="Science World">
                                                    <img width="200" height="280" src="~/Content/Mockups/ScienceWorld/BW-Science-1-A.jpg" class="primary_image lazy wp-post-image" alt="Science World" /><span class="second"><img width="200" height="280" src="~/Content/Mockups/ScienceWorld/BW-Science-1-B.jpg" class="secondary_image lazy" alt="Science World" /></span>
                                                </a>

                                            </div>
                                        </div>
                                        <div class="list-col8">
                                            <div class="product-content">
                                                <h3 class="product-title">
                                                    <a href="/BySeries/ScienceWorld/" class="bookquickview">Science World</a>
                                                </h3>

                                            </div>
                                        </div>
                                    </div>

                                </div>

                                <div class="first vgw-items col-md-2 col-xs-6 post-207 product type-product status-publish has-post-thumbnail product_cat-arts-photography product_cat-audiobooks product_cat-biographies product_cat-business-money product_cat-bussiness-money product_cat-calendars product_cat-casual-shirts product_cat-childrens-books product_cat-chinos product_cat-comics product_cat-computers product_cat-cookbooks product_cat-dress-pants product_cat-education product_cat-limited-edition product_cat-mens product_cat-womens product_tag-tag1 product_tag-tag2 product_tag-tag3 product_tag-tag4 instock sale featured taxable shipping-taxable purchasable product-type-simple">

                                    <div class="vgw-item effect-3">
                                        <div class="list-col4">

                                            <div class="product-image">

                                                <div class="product-label">


                                                </div>
                                                <a href="/BySeries/GrammarMore/" class="bookquickview" title="Grammar & More">
                                                    <img width="200" height="280" src="~/Content/Mockups/GrammarAndMore/BW-GM-1-B.jpg" class="primary_image lazy wp-post-image" alt="Grammar & More" /><span class="second"><img width="200" height="280" src="~/Content/Mockups/GrammarAndMore/BW-GM-1-A.jpg" class="secondary_image lazy" alt="Grammar & More" /></span>
                                                </a>

                                            </div>
                                        </div>
                                        <div class="list-col8">
                                            <div class="product-content">
                                                <h3 class="product-title">
                                                    <a href="/BySeries/GrammarMore/" class="bookquickview">Grammar & More</a>
                                                </h3>

                                            </div>
                                        </div>
                                    </div>

                                </div>

                                <div class="first vgw-items col-md-2 col-xs-6 post-207 product type-product status-publish has-post-thumbnail product_cat-arts-photography product_cat-audiobooks product_cat-biographies product_cat-business-money product_cat-bussiness-money product_cat-calendars product_cat-casual-shirts product_cat-childrens-books product_cat-chinos product_cat-comics product_cat-computers product_cat-cookbooks product_cat-dress-pants product_cat-education product_cat-limited-edition product_cat-mens product_cat-womens product_tag-tag1 product_tag-tag2 product_tag-tag3 product_tag-tag4 instock sale featured taxable shipping-taxable purchasable product-type-simple">

                                    <div class="vgw-item effect-3">
                                        <div class="list-col4">

                                            <div class="product-image">

                                                <div class="product-label">


                                                </div>
                                                <a href="/BySeries/RightClick/" class="bookquickview" title="Right Click">
                                                    <img width="200" height="280" src="~/Content/Mockups/RightClick/BW-RC-1-B.jpg" class="primary_image lazy wp-post-image" alt="Right Click" /><span class="second"><img width="200" height="280" src="~/Content/Mockups/RightClick/BW-RC-1-A.jpg" class="secondary_image lazy" alt="Right Click" /></span>
                                                </a>

                                            </div>
                                        </div>
                                        <div class="list-col8">
                                            <div class="product-content">
                                                <h3 class="product-title">
                                                    <a href="/BySeries/RightClick/" class="bookquickview">Right Click: My Book of Computers</a>
                                                </h3>

                                            </div>
                                        </div>
                                    </div>

                                </div>

                                <div class="first vgw-items col-md-2 col-xs-6 post-207 product type-product status-publish has-post-thumbnail product_cat-arts-photography product_cat-audiobooks product_cat-biographies product_cat-business-money product_cat-bussiness-money product_cat-calendars product_cat-casual-shirts product_cat-childrens-books product_cat-chinos product_cat-comics product_cat-computers product_cat-cookbooks product_cat-dress-pants product_cat-education product_cat-limited-edition product_cat-mens product_cat-womens product_tag-tag1 product_tag-tag2 product_tag-tag3 product_tag-tag4 instock sale featured taxable shipping-taxable purchasable product-type-simple">

                                    <div class="vgw-item effect-3">
                                        <div class="list-col4">
                                            <div class="product-image">
                                                <div class="product-label">


                                                </div>
                                                <a href="/BySeries/SocialStudies/" class="bookquickview" title="Social Studies A">
                                                    <img width="200" height="280" src="~/Content/Mockups/SocialStudies/BW-Social-Studies-A-A.jpg" class="primary_image lazy wp-post-image" alt="Social Studies" /><span class="second"><img width="200" height="280" src="~/Content/Mockups/SocialStudies/BW-Social-Studies-A-B.jpg" class="secondary_image lazy" alt="Social Studies" /></span>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="list-col8">
                                            <div class="product-content">
                                                <h3 class="product-title">
                                                    <a href="/BySeries/SocialStudies/" class="bookquickview">Social Studies for Pakistan</a>
                                                </h3>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="first vgw-items col-md-2 col-xs-6 post-207 product type-product status-publish has-post-thumbnail product_cat-arts-photography product_cat-audiobooks product_cat-biographies product_cat-business-money product_cat-bussiness-money product_cat-calendars product_cat-casual-shirts product_cat-childrens-books product_cat-chinos product_cat-comics product_cat-computers product_cat-cookbooks product_cat-dress-pants product_cat-education product_cat-limited-edition product_cat-mens product_cat-womens product_tag-tag1 product_tag-tag2 product_tag-tag3 product_tag-tag4 instock sale featured taxable shipping-taxable purchasable product-type-simple">

                                    <div class="vgw-item effect-3">
                                        <div class="list-col4">
                                            <div class="product-image">
                                                <div class="product-label">


                                                </div>
                                                <a href="/BySeries/SecondarySocialStudies/" class="bookquickview" title="Class 6">
                                                    <img width="200" height="280" src="~/Content/Mockups/SocialStudies/BW-Social-Studies-6-A.jpg" class="primary_image lazy wp-post-image" alt="Secondary Social Studies" /><span class="second"><img width="200" height="280" src="~/Content/Mockups/SocialStudies/BW-Social-Studies-6-B.jpg" class="secondary_image lazy" alt="Secondary Social Studies" /></span>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="list-col8">
                                            <div class="product-content">
                                                <h3 class="product-title">
                                                    <a href="/BySeries/SecondarySocialStudies/" class="bookquickview">Secondary Social Studies for Pakistan</a>
                                                </h3>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="first vgw-items col-md-2 col-xs-6 post-207 product type-product status-publish has-post-thumbnail product_cat-arts-photography product_cat-audiobooks product_cat-biographies product_cat-business-money product_cat-bussiness-money product_cat-calendars product_cat-casual-shirts product_cat-childrens-books product_cat-chinos product_cat-comics product_cat-computers product_cat-cookbooks product_cat-dress-pants product_cat-education product_cat-limited-edition product_cat-mens product_cat-womens product_tag-tag1 product_tag-tag2 product_tag-tag3 product_tag-tag4 instock sale featured taxable shipping-taxable purchasable product-type-simple">

                                    <div class="vgw-item effect-3">
                                        <div class="list-col4">

                                            <div class="product-image">

                                                <div class="product-label">


                                                </div>
                                                <a href="/BySeries/BeginnerSeries/" class="bookquickview" title="Alphabet Book(HARDBACK)">
                                                    <img width="200" height="280" src="~/Content/Mockups/BeginnerSeries/BW-Alphabet-Book-1-A.jpg" class="primary_image lazy wp-post-image" alt="Beginners Series" /><span class="second"><img width="200" height="280" src="~/Content/Mockups/BeginnerSeries/BW-Alphabet-Book-1-B.jpg" class="secondary_image lazy" alt="Beginners Series" /></span>
                                                </a>

                                            </div>
                                        </div>
                                        <div class="list-col8">
                                            <div class="product-content">
                                                <h3 class="product-title">
                                                    <a href="/BySeries/BeginnerSeries/" class="bookquickview">Beginners Series</a>
                                                </h3>

                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <div class="first vgw-items col-md-2 col-xs-6 post-207 product type-product status-publish has-post-thumbnail product_cat-arts-photography product_cat-audiobooks product_cat-biographies product_cat-business-money product_cat-bussiness-money product_cat-calendars product_cat-casual-shirts product_cat-childrens-books product_cat-chinos product_cat-comics product_cat-computers product_cat-cookbooks product_cat-dress-pants product_cat-education product_cat-limited-edition product_cat-mens product_cat-womens product_tag-tag1 product_tag-tag2 product_tag-tag3 product_tag-tag4 instock sale featured taxable shipping-taxable purchasable product-type-simple">

                                    <div class="vgw-item effect-3">
                                        <div class="list-col4">
                                            <div class="product-image">
                                                <div class="product-label">


                                                </div>
                                                <a href="/BySeries/LetsStartLearning/" class="bookquickview" title="Lets Start Learning">
                                                    <img width="200" height="280" src="~/Content/Mockups/LetsStartLearning/BW-ABC-Picture-Book-1-A.jpg" class="primary_image lazy wp-post-image" alt="Lets Start Learning" /><span class="second"><img width="200" height="280" src="~/Content/Mockups/LetsStartLearning/BW-ABC-Picture-Book-1-B.jpg" class="secondary_image lazy" alt="Lets Start Learning" /></span>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="list-col8">
                                            <div class="product-content">
                                                <h3 class="product-title">
                                                    <a href="/BySeries/LetsStartLearning/" class="bookquickview">Let's Start Learning</a>
                                                </h3>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="first vgw-items col-md-2 col-xs-6 post-207 product type-product status-publish has-post-thumbnail product_cat-arts-photography product_cat-audiobooks product_cat-biographies product_cat-business-money product_cat-bussiness-money product_cat-calendars product_cat-casual-shirts product_cat-childrens-books product_cat-chinos product_cat-comics product_cat-computers product_cat-cookbooks product_cat-dress-pants product_cat-education product_cat-limited-edition product_cat-mens product_cat-womens product_tag-tag1 product_tag-tag2 product_tag-tag3 product_tag-tag4 instock sale featured taxable shipping-taxable purchasable product-type-simple">

                                    <div class="vgw-item effect-3">
                                        <div class="list-col4">
                                            <div class="product-image">
                                                <div class="product-label">


                                                </div>
                                                <a href="/BySeries/MyFunToLearnLanguage/" class="bookquickview" title="My Fun To Learn Language">
                                                    <img width="200" height="280" src="~/Content/Mockups/MyFunToLearnLanguage/BW-Pre-Primary-1-A.jpg" class="primary_image lazy wp-post-image" alt="My Fun To Learn Language" /><span class="second"><img width="200" height="280" src="~/Content/Mockups/MyFunToLearnLanguage/BW-Pre-Primary-1-B.jpg" class="secondary_image lazy" alt="My Fun To Learn Language" /></span>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="list-col8">
                                            <div class="product-content">
                                                <h3 class="product-title">
                                                    <a href="/BySeries/MyFunToLearnLanguage/" class="bookquickview">My Fun-to-Learn Language</a>
                                                </h3>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="first vgw-items col-md-2 col-xs-6 post-207 product type-product status-publish has-post-thumbnail product_cat-arts-photography product_cat-audiobooks product_cat-biographies product_cat-business-money product_cat-bussiness-money product_cat-calendars product_cat-casual-shirts product_cat-childrens-books product_cat-chinos product_cat-comics product_cat-computers product_cat-cookbooks product_cat-dress-pants product_cat-education product_cat-limited-edition product_cat-mens product_cat-womens product_tag-tag1 product_tag-tag2 product_tag-tag3 product_tag-tag4 instock sale featured taxable shipping-taxable purchasable product-type-simple">

                                    <div class="vgw-item effect-3">
                                        <div class="list-col4">
                                            <div class="product-image">
                                                <div class="product-label">


                                                </div>
                                                <a href="/BySeries/MyFunToLearnMath/" class="bookquickview" title="My Fun To Learn Math">
                                                    <img width="200" height="280" src="~/Content/Mockups/MyFunToLearnMath/BW-Pre-Primary-1-A.jpg" class="primary_image lazy wp-post-image" alt="My Fun To Learn Math" /><span class="second"><img width="200" height="280" src="~/Content/Mockups/MyFunToLearnMath/BW-Pre-Primary-1-B.jpg" class="secondary_image lazy" alt="My Fun To Learn Math" /></span>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="list-col8">
                                            <div class="product-content">
                                                <h3 class="product-title">
                                                    <a href="/BySeries/MyFunToLearnMath/" class="bookquickview">My Fun-to-Learn Maths</a>
                                                </h3>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="first vgw-items col-md-2 col-xs-6 post-207 product type-product status-publish has-post-thumbnail product_cat-arts-photography product_cat-audiobooks product_cat-biographies product_cat-business-money product_cat-bussiness-money product_cat-calendars product_cat-casual-shirts product_cat-childrens-books product_cat-chinos product_cat-comics product_cat-computers product_cat-cookbooks product_cat-dress-pants product_cat-education product_cat-limited-edition product_cat-mens product_cat-womens product_tag-tag1 product_tag-tag2 product_tag-tag3 product_tag-tag4 instock sale featured taxable shipping-taxable purchasable product-type-simple">

                                    <div class="vgw-item effect-3">
                                        <div class="list-col4">

                                            <div class="product-image">

                                                <div class="product-label">


                                                </div>
                                                <a href="/BySeries/UrduKiAmliKitab/" class="bookquickview" title="Urdu Ki Amli Kitab">
                                                    <img width="200" height="280" src="~/Content/Mockups/UrduLikhai/BW-Urdu-Book-One-A.jpg" class="primary_image lazy wp-post-image" alt="Urdu Ki Amli Kitab" /><span class="second"><img width="200" height="280" src="~/Content/Mockups/UrduLikhai/BW-Urdu-Book-One-B.jpg" class="secondary_image lazy" alt="Urdu Ki Amli Kitab" /></span>
                                                </a>

                                            </div>
                                        </div>
                                        <div class="list-col8">
                                            <div class="product-content">
                                                <h3 class="product-title">
                                                    <a href="/BySeries/UrduKiAmliKitab/" class="bookquickview">Urdu Ki Amli Kitab</a>
                                                </h3>
                                            </div>
                                        </div>
                                    </div>

                                </div>

                                <div class="first vgw-items col-md-2 col-xs-6 post-207 product type-product status-publish has-post-thumbnail product_cat-arts-photography product_cat-audiobooks product_cat-biographies product_cat-business-money product_cat-bussiness-money product_cat-calendars product_cat-casual-shirts product_cat-childrens-books product_cat-chinos product_cat-comics product_cat-computers product_cat-cookbooks product_cat-dress-pants product_cat-education product_cat-limited-edition product_cat-mens product_cat-womens product_tag-tag1 product_tag-tag2 product_tag-tag3 product_tag-tag4 instock sale featured taxable shipping-taxable purchasable product-type-simple">

                                    <div class="vgw-item effect-3">
                                        <div class="list-col4">

                                            <div class="product-image">

                                                <div class="product-label">


                                                </div>
                                                <a href="/BySeries/AlhusnaIslamyat/" class="bookquickview" title="Alhusna Islamyat">
                                                    <img width="200" height="280" src="~/Content/Mockups/AlhusnaIslamyat/BW-Islamyat-1-A.jpg" class="primary_image lazy wp-post-image" alt="Alhusna Islamyat" /><span class="second"><img width="200" height="280" src="~/Content/Mockups/AlhusnaIslamyat/BW-Islamyat-1-B.jpg" class="secondary_image lazy" alt="Alhusna Islamyat" /></span>
                                                </a>

                                            </div>
                                        </div>
                                        <div class="list-col8">
                                            <div class="product-content">
                                                <h3 class="product-title">
                                                    <a href="/BySeries/AlhusnaIslamyat/" class="bookquickview">Alhusna Islamyat</a>
                                                </h3>

                                            </div>
                                        </div>
                                    </div>

                                </div>

                                <div class="first vgw-items col-md-2 col-xs-6 post-207 product type-product status-publish has-post-thumbnail product_cat-arts-photography product_cat-audiobooks product_cat-biographies product_cat-business-money product_cat-bussiness-money product_cat-calendars product_cat-casual-shirts product_cat-childrens-books product_cat-chinos product_cat-comics product_cat-computers product_cat-cookbooks product_cat-dress-pants product_cat-education product_cat-limited-edition product_cat-mens product_cat-womens product_tag-tag1 product_tag-tag2 product_tag-tag3 product_tag-tag4 instock sale featured taxable shipping-taxable purchasable product-type-simple">

                                    <div class="vgw-item effect-3">
                                        <div class="list-col4">

                                            <div class="product-image">

                                                <div class="product-label">


                                                </div>
                                                <a href="/BySeries/UrduLikhai/" class="bookquickview" title="Urdu Likhai">
                                                    <img width="200" height="280" src="~/Content/Mockups/UrduLikhai/BW-UR-0-B.jpg" class="primary_image lazy wp-post-image" alt="Urdu Likhai" /><span class="second"><img width="200" height="280" src="~/Content/Mockups/UrduLikhai/BW-UR-0-A.jpg" class="secondary_image lazy" alt="Urdu Likhai" /></span>
                                                </a>

                                            </div>
                                        </div>
                                        <div class="list-col8">
                                            <div class="product-content">
                                                <h3 class="product-title">
                                                    <a href="/BySeries/UrduLikhai/" class="bookquickview">Urdu Likhai</a>
                                                </h3>
                                            </div>
                                        </div>
                                    </div>

                                </div>

                                <div class="first vgw-items col-md-2 col-xs-6 post-207 product type-product status-publish has-post-thumbnail product_cat-arts-photography product_cat-audiobooks product_cat-biographies product_cat-business-money product_cat-bussiness-money product_cat-calendars product_cat-casual-shirts product_cat-childrens-books product_cat-chinos product_cat-comics product_cat-computers product_cat-cookbooks product_cat-dress-pants product_cat-education product_cat-limited-edition product_cat-mens product_cat-womens product_tag-tag1 product_tag-tag2 product_tag-tag3 product_tag-tag4 instock sale featured taxable shipping-taxable purchasable product-type-simple">

                                    <div class="vgw-item effect-3">
                                        <div class="list-col4">
                                            <div class="product-image">
                                                <div class="product-label">


                                                </div>
                                                <a href="/BySeries/FunArt/" class="bookquickview" title="Fun Art">
                                                    <img width="200" height="145" src="~/Content/Mockups/FunArt/BW-Fun-Art-A-A.jpg" class="primary_image lazy wp-post-image" alt="Fun Art" /><span class="second"><img width="200" height="145" src="~/Content/Mockups/FunArt/BW-Fun-Art-A-B.jpg" class="secondary_image lazy" alt="Fun Art" /></span>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="list-col8">
                                            <div class="product-content">
                                                <h3 class="product-title">
                                                    <a href="/BySeries/FunArt/" class="bookquickview">Fun Art: Art & Craft Activity Books</a>
                                                </h3>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>



                        </div>
                    </div>
                </div>
                <div class="pull-left wpb_column vc_column_container vc_col-sm-4 vc_col-lg-3 vc_col-md-4">
                    <div class="vc_column-inner ">
                        <div class="wpb_wrapper">
                            <div class="vc_row wpb_row vc_inner vc_row-fluid vc_custom_1490545088729">
                                <div class="wpb_column vc_column_container vc_col-sm-12">
                                    <div class="vc_column-inner ">
                                        <div class="wpb_wrapper">
                                            <div class="wpb_widgetised_column wpb_content_element">
                                                <div class="wpb_wrapper">

                                                    <aside id="vg_skybook_category_treeview-2" class="widget sidebar sidebar-shop widget_vg_skybook_category_treeview">
                                                        <div class="widget-title"><h3 class="wgtitle style-title">Categories</h3></div>
                                                        <div id="vgw-category-treeview_sidebar" class="vg-skybook-category-treeview ">
                                                            <ul class="level0 filetree">
                                                                <li class="0">
                                                                    <a href="/BySeries/ScienceWorld/"><span class="catTitle folder">Science World</span></a>
                                                                <li class="0">
                                                                    <a href="/BySeries/GrammarMore/"><span class="catTitle folder">Grammar & More</span></a>
                                                                </li>
                                                                <li class="0">
                                                                    <a href="/BySeries/RightClick/"><span class="catTitle folder">Right Click: My Book of Computers</span></a>
                                                                </li>
                                                                <li class="0">
                                                                    <a href="/BySeries/UrduLikhai/"><span class="catTitle folder">Urdu Likhai</span></a>
                                                                </li>
                                                                <li class="0">
                                                                    <a href="/BySeries/FunArt/"><span class="catTitle folder">Fun Art: Art & Craft Activity Books</span></a>
                                                                </li>
                                                                <li class="0">
                                                                    <a href="/BySeries/SocialStudies/"><span class="catTitle folder">Social Studies for Pakistan</span></a>
                                                                </li>
                                                                <li class="0">
                                                                    <a href="/BySeries/SecondarySocialStudies/"><span class="catTitle folder">Secondary Social Studies for Pakistan</span></a>
                                                                </li>
                                                                <li class="0">
                                                                    <a href="/BySeries/BeginnerSeries/"><span class="catTitle folder">Beginners Series</span></a>
                                                                </li>
                                                                <li class="0">
                                                                    <a href="/BySeries/LetsStartLearning/"><span class="catTitle folder">Let's Start Learning</span></a>
                                                                </li>
                                                                <li class="0">
                                                                    <a href="/BySeries/MyFunToLearnLanguage/"><span class="catTitle folder">My Fun-to-Learn Language</span></a>
                                                                </li>
                                                                <li class="0">
                                                                    <a href="/BySeries/MyFunToLearnMath/"><span class="catTitle folder">My Fun-to-Learn Maths</span></a>
                                                                </li>
                                                                <li class="0">
                                                                    <a href="/BySeries/UrduKiAmliKitab/"><span class="catTitle folder">Urdu Ki Amli Kitab</span></a>
                                                                </li>
                                                                <li class="0">
                                                                    <a href="/BySeries/AlhusnaIslamyat"><span class="catTitle folder">Alhusna Islamiyat</span></a>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </aside>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="vc_row-full-width vc_clearfix"></div>
        </article>
    </div>
</div>
<script type="text/javascript">
    jQuery(document).ready(function ($) {
        $.ajax(
            {
                url: "/Ebook/GrammarMore1",
                type: "get"
            }
        ).done(function (result) {

        });
    });
</script>