﻿
@{
    ViewBag.Title = "Online Orders";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
    int totalbfcomma = 0;
}
<style>
    #tbl td {
        vertical-align: middle;
    }
</style>
<div class="container" style="margin-bottom:30px; margin-top:15px;">

    <div class="row">
        @if (TempData["message"] != null)
        {
            <div style="color:green; text-align:center;">
                <h3 style="color:green; text-align:center;">@TempData["message"]</h3>
                @{
                    TempData.Remove("message");
                }
            </div>
                    }
        <div class="col-sm-12">
            <h1 style="text-align:center; color:red;">Online Order Form</h1>
            <p><b>Steps to order...</b></p>
            <p>Step 1: Fill up the required fields. NOTE: (*) = Required Fields</p>
            <p>Step 2: Type the quantity against each required book.</p>
            <p>Step 3: (Optional) Click on 'Calculate Total Amount' button to confirm your total bill amount before placing order.</p>
            <p>Step 4: Click on 'Confirm Order' button to place your order.</p>

            <div style="margin-top:40px;"></div>

            @using (Html.BeginForm("Orders", "Home", FormMethod.Post, new { id = "orders", enctype = "multipart/form-data" }))
            {
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label" style="color:red">Full Name *</label>
                    <div class="col-sm-10">
                        <input required id="fullname" name="fullname" type="text" class="form-control" placeholder="Type Full Name">
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-sm-2 col-form-label" style="color:red">School/Shop Name *</label>
                    <div class="col-sm-10">
                        <input required id="schoolname" name="schoolname" type="text" class="form-control" placeholder="Type School/Shop Name">
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-sm-2 col-form-label" style="color:red">Address *</label>
                    <div class="col-sm-10">
                        <input required id="address" name="address" type="text" class="form-control" placeholder="Type Address">
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-sm-2 col-form-label" style="color:red">Contact Number *</label>
                    <div class="col-sm-10">
                        <input required id="contact" name="contact" type="text" class="form-control" placeholder="Type Contact Number">
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-sm-2 col-form-label" style="color:red">City *</label>
                    <div class="col-sm-10">
                        <input required id="city" name="city" type="text" class="form-control" placeholder="Type City">
                    </div>
                </div>

                <div style="margin-top:40px;"></div>

                <table class="table table-condensed table-bordered table-striped" id="tbl">
                    <thead style="color:red">
                        <tr>
                            <th>ISBN #</th>
                            <th>Book Name</th>
                            <th>Price (PKR)</th>
                            <th>Quantity</th>
                        </tr>
                    </thead>
                    <tbody>
                        @*Beginners Series Starts*@
                        <tr>
                            <td>978-969-600-007-5</td>
                            <td>Beginners Series - Alphabet Book (HB)</td>
                            <td>175/-</td>
                            <td><input id="q1" type="number" name="book1" value="0" min="0" /></td>
                        </tr>
                        <tr>
                            <td>978-969-600-011-2</td>
                            <td>Beginners Series - Alphabet Activity (Small Letters)</td>
                            <td>145/-</td>
                            <td><input id="q2" type="number" name="book2" value="0" min="0" /></td>
                        </tr>
                        <tr>
                            <td>978-969-600-010-5</td>
                            <td>Beginners Series - Alphabet Activity (Capital Letters)</td>
                            <td>145/-</td>
                            <td><input id="q3" type="number" name="book3" value="0" min="0" /></td>
                        </tr>
                        <tr>
                            <td>978-969-600-009-9</td>
                            <td>Beginners Series - Counting Book (HB)</td>
                            <td>165/-</td>
                            <td><input id="q4" type="number" name="book4" value="0" min="0" /></td>
                        </tr>
                        <tr>
                            <td>978-969-600-013-6</td>
                            <td>Beginners Series - Counting Activity</td>
                            <td>145/-</td>
                            <td><input id="q5" type="number" name="book5" value="0" min="0" /></td>
                        </tr>
                        <tr>
                            <td>978-969-600-008-2</td>
                            <td>Beginners Series - Alif Bay Pay Book (HB)</td>
                            <td>185/-</td>
                            <td><input id="q6" type="number" name="book6" value="0" min="0" /></td>
                        </tr>
                        <tr>
                            <td>978-969-600-012-9</td>
                            <td>Beginners Series - Alif Bay Pay (Likhan Aur Rang Bharain)</td>
                            <td>155/-</td>
                            <td><input id="q7" type="number" name="book7" value="0" min="0" /></td>
                        </tr>
                        @*Beginners Series Ends*@

                        @*Let's Start Learning Starts*@
                        <tr>
                            <td>978-969-600-021-1</td>
                            <td>Let's Start Learning - ABC Picture Book</td>
                            <td>185/-</td>
                            <td><input id="q8" type="number" name="book8" value="0" min="0" /></td>
                        </tr>
                        <tr>
                            <td>978-969-600-022-8</td>
                            <td>Let's Start Learning - ABC Activity Book</td>
                            <td>185/-</td>
                            <td><input id="q9" type="number" name="book9" value="0" min="0" /></td>
                        </tr>
                        <tr>
                            <td>978-969-600-025-9</td>
                            <td>Let's Start Learning - 123 Picture Book</td>
                            <td>175/-</td>
                            <td><input id="q10" type="number" name="book10" value="0" min="0" /></td>
                        </tr>
                        <tr>
                            <td>978-969-600-026-6</td>
                            <td>Let's Start Learning - 123 Activity Book</td>
                            <td>175/-</td>
                            <td><input id="q11" type="number" name="book11" value="0" min="0" /></td>
                        </tr>
                        <tr>
                            <td>978-969-600-023-5</td>
                            <td>Let's Start Learning - Urdu Tasveeri Qaida</td>
                            <td>195/-</td>
                            <td><input id="q12" type="number" name="book12" value="0" min="0" /></td>
                        </tr>
                        <tr>
                            <td>978-969-600-024-2</td>
                            <td>Let's Start Learning - Urdu Likhan or Rang Bharain</td>
                            <td>195/-</td>
                            <td><input id="q13" type="number" name="book13" value="0" min="0" /></td>
                        </tr>
                        @*Let's Start Learning Ends *@

                        @*Grammar & More Starts *@
                        <tr>
                            <td>978-969-600-060-0</td>
                            <td>Grammar & More - Book 1</td>
                            <td>260/-</td>
                            <td><input id="q14" type="number" name="book14" value="0" min="0" /></td>
                        </tr>
                        <tr>
                            <td>978-969-600-061-7</td>
                            <td>Grammar & More - Book 2</td>
                            <td>270/-</td>
                            <td><input id="q15" type="number" name="book15" value="0" min="0" /></td>
                        </tr>
                        <tr>
                            <td>978-969-600-062-4</td>
                            <td>Grammar & More - Book 3</td>
                            <td>280/-</td>
                            <td><input id="q16" type="number" name="book16" value="0" min="0" /></td>
                        </tr>
                        <tr>
                            <td>978-969-600-063-1</td>
                            <td>Grammar & More - Book 4</td>
                            <td>290/-</td>
                            <td><input id="q17" type="number" name="book17" value="0" min="0" /></td>
                        </tr>
                        <tr>
                            <td>978-969-600-064-8</td>
                            <td>Grammar & More - Book 5</td>
                            <td>300/-</td>
                            <td><input id="q18" type="number" name="book18" value="0" min="0" /></td>
                        </tr>
                        <tr>
                            <td>978-969-600-065-5</td>
                            <td>Grammar & More - Book 6</td>
                            <td>330/-</td>
                            <td><input id="q19" type="number" name="book19" value="0" min="0" /></td>
                        </tr>
                        <tr>
                            <td>978-969-600-066-2</td>
                            <td>Grammar & More - Book 7</td>
                            <td>330/-</td>
                            <td><input id="q20" type="number" name="book20" value="0" min="0" /></td>
                        </tr>
                        <tr>
                            <td>978-969-600-067-9</td>
                            <td>Grammar & More - Book 8</td>
                            <td>330/-</td>
                            <td><input id="q21" type="number" name="book21" value="0" min="0" /></td>
                        </tr>
                        @*Grammar & More Ends *@

                        @*My Fun To Learn Math Starts *@
                        <tr>
                            <td>978-969-600-030-3</td>
                            <td>My Fun To Learn Maths - Pre-Primary 1</td>
                            <td>150/-</td>
                            <td><input id="q22" type="number" name="book22" value="0" min="0" /></td>
                        </tr>
                        <tr>
                            <td>978-969-600-031-0</td>
                            <td>My Fun To Learn Maths - Pre-Primary 2</td>
                            <td>150/-</td>
                            <td><input id="q23" type="number" name="book23" value="0" min="0" /></td>
                        </tr>
                        <tr>
                            <td>978-969-600-032-7</td>
                            <td>My Fun To Learn Maths - Pre-Primary 3</td>
                            <td>150/-</td>
                            <td><input id="q24" type="number" name="book24" value="0" min="0" /></td>
                        </tr>
                        @*My Fun To Learn Math Ends *@

                        @*My Fun To Learn Language Ends *@
                        <tr>
                            <td>978-969-600-027-3</td>
                            <td>My Fun To Learn Language - Pre-Primary 1</td>
                            <td>150/-</td>
                            <td><input id="q25" type="number" name="book25" value="0" min="0" /></td>
                        </tr>
                        <tr>
                            <td>978-969-600-028-0</td>
                            <td>My Fun To Learn Language - Pre-Primary 2</td>
                            <td>150/-</td>
                            <td><input id="q26" type="number" name="book26" value="0" min="0" /></td>
                        </tr>
                        <tr>
                            <td>978-969-600-029-7</td>
                            <td>My Fun To Learn Language - Pre-Primary 3</td>
                            <td>150/-</td>
                            <td><input id="q27" type="number" name="book27" value="0" min="0" /></td>
                        </tr>
                        @*My Fun To Learn Language Ends *@

                        @*Right Click Starts *@
                        <tr>
                            <td>978-969-600-033-4</td>
                            <td>Right Click: My Book Of Computers - Book 1</td>
                            <td>260/-</td>
                            <td><input id="q28" type="number" name="book28" value="0" min="0" /></td>
                        </tr>
                        <tr>
                            <td>978-969-600-034-1</td>
                            <td>Right Click: My Book Of Computers - Book 2</td>
                            <td>290/-</td>
                            <td><input id="q29" type="number" name="book29" value="0" min="0" /></td>
                        </tr>
                        <tr>
                            <td>978-969-600-035-8</td>
                            <td>Right Click: My Book Of Computers - Book 3</td>
                            <td>330/-</td>
                            <td><input id="q30" type="number" name="book30" value="0" min="0" /></td>
                        </tr>
                        <tr>
                            <td>978-969-600-036-5</td>
                            <td>Right Click: My Book Of Computers - Book 4</td>
                            <td>360/-</td>
                            <td><input id="q31" type="number" name="book31" value="0" min="0" /></td>
                        </tr>
                        <tr>
                            <td>978-969-600-037-2</td>
                            <td>Right Click: My Book Of Computers - Book 5</td>
                            <td>390/-</td>
                            <td><input id="q32" type="number" name="book32" value="0" min="0" /></td>
                        </tr>
                        <tr>
                            <td>978-969-600-038-9</td>
                            <td>Right Click: My Book Of Computers - Book 6</td>
                            <td>420/-</td>
                            <td><input id="q33" type="number" name="book33" value="0" min="0" /></td>
                        </tr>
                        <tr>
                            <td>978-969-600-039-6</td>
                            <td>Right Click: My Book Of Computers - Book 7</td>
                            <td>430/-</td>
                            <td><input id="q34" type="number" name="book34" value="0" min="0" /></td>
                        </tr>
                        <tr>
                            <td>978-969-600-040-2</td>
                            <td>Right Click: My Book Of Computers - Book 8</td>
                            <td>440/-</td>
                            <td><input id="q35" type="number" name="book35" value="0" min="0" /></td>
                        </tr>
                        @*Right Click Ends *@

                        @*Science World Starts *@
                        <tr>
                            <td>978-969-600-071-6</td>
                            <td>Science World - Book 1</td>
                            <td>260/-</td>
                            <td><input id="q36" type="number" name="book36" value="0" min="0" /></td>
                        </tr>
                        <tr>
                            <td>978-969-600-072-3</td>
                            <td>Science World - Book 2</td>
                            <td>270/-</td>
                            <td><input id="q37" type="number" name="book37" value="0" min="0" /></td>
                        </tr>
                        <tr>
                            <td>978-969-600-073-0</td>
                            <td>Science World - Book 3</td>
                            <td>280/-</td>
                            <td><input id="q38" type="number" name="book38" value="0" min="0" /></td>
                        </tr>
                        <tr>
                            <td>978-969-600-074-7</td>
                            <td>Science World - Book 4</td>
                            <td>300/-</td>
                            <td><input id="q39" type="number" name="book39" value="0" min="0" /></td>
                        </tr>
                        <tr>
                            <td>978-969-600-075-4</td>
                            <td>Science World - Book 5</td>
                            <td>300/-</td>
                            <td><input id="q40" type="number" name="book40" value="0" min="0" /></td>
                        </tr>
                        @*Science World Ends *@

                        @*Social Studies Starts *@
                        <tr>
                            <td>978-969-600-014-3</td>
                            <td>Social Studies For Pakistan - Pre-Primary A</td>
                            <td>180/-</td>
                            <td><input id="q41" type="number" name="book41" value="0" min="0" /></td>
                        </tr>
                        <tr>
                            <td>978-969-600-015-0</td>
                            <td>Social Studies For Pakistan - Pre-Primary B</td>
                            <td>180/-</td>
                            <td><input id="q42" type="number" name="book42" value="0" min="0" /></td>
                        </tr>
                        <tr>
                            <td>978-969-600-016-7</td>
                            <td>Social Studies For Pakistan - Book 1</td>
                            <td>230/-</td>
                            <td><input id="q43" type="number" name="book43" value="0" min="0" /></td>
                        </tr>
                        <tr>
                            <td>978-969-600-017-4</td>
                            <td>Social Studies For Pakistan - Book 2</td>
                            <td>240/-</td>
                            <td><input id="q44" type="number" name="book44" value="0" min="0" /></td>
                        </tr>
                        <tr>
                            <td>978-969-600-018-1</td>
                            <td>Social Studies For Pakistan - Book 3</td>
                            <td>250/-</td>
                            <td><input id="q45" type="number" name="book45" value="0" min="0" /></td>
                        </tr>
                        <tr>
                            <td>978-969-600-019-8</td>
                            <td>Social Studies For Pakistan - Book 4</td>
                            <td>260/-</td>
                            <td><input id="q46" type="number" name="book46" value="0" min="0" /></td>
                        </tr>
                        <tr>
                            <td>978-969-600-020-4</td>
                            <td>Social Studies For Pakistan - Book 5</td>
                            <td>270-</td>
                            <td><input id="q47" type="number" name="book47" value="0" min="0" /></td>
                        </tr>
                        @*Social Studies Ends *@

                        @*Secondary Social Studies Ends *@
                        <tr>
                            <td>978-969-600-044-0</td>
                            <td>Secondary Social Studies For Pakistan - Book 6</td>
                            <td>360/-</td>
                            <td><input id="q48" type="number" name="book48" value="0" min="0" /></td>
                        </tr>
                        <tr>
                            <td>978-969-600-045-7</td>
                            <td>Secondary Social Studies For Pakistan - Book 7</td>
                            <td>370/-</td>
                            <td><input id="q49" type="number" name="book49" value="0" min="0" /></td>
                        </tr>
                        <tr>
                            <td>978-969-600-046-4</td>
                            <td>Secondary Social Studies For Pakistan - Book 8</td>
                            <td>380/-</td>
                            <td><input id="q50" type="number" name="book50" value="0" min="0" /></td>
                        </tr>
                        @*Secondary Social Studies Ends *@

                        @*Urdu Ki Amli Kitaab Starts *@
                        <tr>
                            <td>978-969-600-041-9</td>
                            <td>Urdu Ki Amli Kitaab - Ibtidai Awal</td>
                            <td>220/-</td>
                            <td><input id="q51" type="number" name="book51" value="0" min="0" /></td>
                        </tr>
                        <tr>
                            <td>978-969-600-042-6</td>
                            <td>Urdu Ki Amli Kitaab - Ibtidai Doem</td>
                            <td>240/-</td>
                            <td><input id="q52" type="number" name="book52" value="0" min="0" /></td>
                        </tr>
                        <tr>
                            <td>978-969-600-043-3</td>
                            <td>Urdu Ki Amli Kitaab - Ibtidai Soem</td>
                            <td>250/-</td>
                            <td><input id="q53" type="number" name="book53" value="0" min="0" /></td>
                        </tr>
                        @*Urdu Ki Amli Kitaab Ends *@

                        @*Urdu Likhai Starts *@
                        <tr>
                            <td>978-969-600-055-6</td>
                            <td>Urdu Likhai - Ibtedai</td>
                            <td>150/-</td>
                            <td><input id="q54" type="number" name="book54" value="0" min="0" /></td>
                        </tr>
                        <tr>
                            <td>978-969-600-056-3</td>
                            <td>Urdu Likhai - Awal</td>
                            <td>150/-</td>
                            <td><input id="q55" type="number" name="book55" value="0" min="0" /></td>
                        </tr>
                        <tr>
                            <td>978-969-600-057-0</td>
                            <td>Urdu Likhai - Doem</td>
                            <td>150/-</td>
                            <td><input id="q56" type="number" name="book56" value="0" min="0" /></td>
                        </tr>
                        <tr>
                            <td>978-969-600-058-7</td>
                            <td>Urdu Likhai - Soaim</td>
                            <td>150/-</td>
                            <td><input id="q57" type="number" name="book57" value="0" min="0" /></td>
                        </tr>
                        <tr>
                            <td>978-969-600-059-4</td>
                            <td>Urdu Likhai - Chaharam</td>
                            <td>150/-</td>
                            <td><input id="q58" type="number" name="book58" value="0" min="0" /></td>
                        </tr>
                        @*Urdu Likhai Ends *@

                        @*Al Husna Islamiyat Starts *@
                        <tr>
                            <td>978-969-600-002-0</td>
                            <td>Alhusna Islamiyat - Book 1</td>
                            <td>130/-</td>
                            <td><input id="q59" type="number" name="book59" value="0" min="0" /></td>
                        </tr>
                        <tr>
                            <td>978-969-600-003-7</td>
                            <td>Alhusna Islamiyat - Book 2</td>
                            <td>140/-</td>
                            <td><input id="q60" type="number" name="book60" value="0" min="0" /></td>
                        </tr>
                        <tr>
                            <td>978-969-600-004-4</td>
                            <td>Alhusna Islamiyat - Book 3</td>
                            <td>140/-</td>
                            <td><input id="q61" type="number" name="book61" value="0" min="0" /></td>
                        </tr>
                        <tr>
                            <td>978-969-600-005-1</td>
                            <td>Alhusna Islamiyat - Book 4</td>
                            <td>150/-</td>
                            <td><input id="q62" type="number" name="book62" value="0" min="0" /></td>
                        </tr>
                        <tr>
                            <td>978-969-600-006-8</td>
                            <td>Alhusna Islamiyat - Book 5</td>
                            <td>160/-</td>
                            <td><input id="q63" type="number" name="book63" value="0" min="0" /></td>
                        </tr>
                        @*Al Husna Islamiyat Ends *@

                        @*Fun Art Starts *@
                        <tr>
                            <td>978-969-600-047-1</td>
                            <td>Fun Art: Art & Craft Activity Books - Book A</td>
                            <td>145/-</td>
                            <td><input id="q64" type="number" name="book64" value="0" min="0" /></td>
                        </tr>
                        <tr>
                            <td>978-969-600-048-8</td>
                            <td>Fun Art: Art & Craft Activity Books - Book B</td>
                            <td>145/-</td>
                            <td><input id="q65" type="number" name="book65" value="0" min="0" /></td>
                        </tr>
                        <tr>
                            <td>978-969-600-049-5</td>
                            <td>Fun Art: Art & Craft Activity Books - Book C</td>
                            <td>145/-</td>
                            <td><input id="q66" type="number" name="book66" value="0" min="0" /></td>
                        </tr>
                        <tr>
                            <td>978-969-600-050-1</td>
                            <td>Fun Art: Art & Craft Activity Books - Book 1</td>
                            <td>145/-</td>
                            <td><input id="q67" type="number" name="book67" value="0" min="0" /></td>
                        </tr>
                        <tr>
                            <td>978-969-600-051-8</td>
                            <td>Fun Art: Art & Craft Activity Books - Book 2</td>
                            <td>145/-</td>
                            <td><input id="q68" type="number" name="book68" value="0" min="0" /></td>
                        </tr>
                        <tr>
                            <td>978-969-600-052-5</td>
                            <td>Fun Art: Art & Craft Activity Books - Book 3</td>
                            <td>145/-</td>
                            <td><input id="q69" type="number" name="book69" value="0" min="0" /></td>
                        </tr>
                        <tr>
                            <td>978-969-600-053-2</td>
                            <td>Fun Art: Art & Craft Activity Books - Book 4</td>
                            <td>145/-</td>
                            <td><input id="q70" type="number" name="book70" value="0" min="0" /></td>
                        </tr>
                        <tr>
                            <td>978-969-600-054-9</td>
                            <td>Fun Art: Art & Craft Activity Books - Book 5</td>
                            <td>145/-</td>
                            <td><input id="q71" type="number" name="book71" value="0" min="0" /></td>
                        </tr>

                        @*Fun Art Ends *@
                    </tbody>
                </table>
                <input type="hidden" name="totalbill" id="totalbill" />

            }
            <button id="calculatetotalamount">Calculate Total Amount</button>
            <button id="confirmorder">Confirm Order</button>
            <div id="totalamount" style="margin-top:15px;"></div>

        </div>
    </div>
</div>
<script type="text/javascript">
    jQuery(document).ready(function ($) {
        $("#calculatetotalamount").click(function (event) {

            event.preventDefault();

            var Q1 = 0, Q2 = 0, Q3 = 0, Q4 = 0, Q5 = 0, Q6 = 0, Q7 = 0, Q8 = 0, Q9 = 0, Q10 = 0,
                Q11 = 0, Q12 = 0, Q13 = 0, Q14 = 0, Q15 = 0, Q16 = 0, Q17 = 0, Q18 = 0, Q19 = 0, Q20 = 0,
                Q21 = 0, Q22 = 0, Q23 = 0, Q24 = 0, Q25 = 0, Q26 = 0, Q27 = 0, Q28 = 0, Q29 = 0, Q30 = 0,
                Q31 = 0, Q32 = 0, Q33 = 0, Q34 = 0, Q35 = 0, Q36 = 0, Q37 = 0, Q38 = 0, Q39 = 0, Q40 = 0,
                Q41 = 0, Q42 = 0, Q43 = 0, Q44 = 0, Q45 = 0, Q46 = 0, Q47 = 0, Q48 = 0, Q49 = 0, Q50 = 0,
                Q51 = 0, Q52 = 0, Q53 = 0, Q54 = 0, Q55 = 0, Q56 = 0, Q57 = 0, Q58 = 0, Q59 = 0, Q60 = 0,
                Q61 = 0, Q62 = 0, Q63 = 0, Q64 = 0, Q65 = 0, Q66 = 0, Q67 = 0, Q68 = 0, Q69 = 0, Q70 = 0, Q71 = 0;

            var total = 0;

            Q1 = 175 * $("#q1").val();
            Q2 = 145 * $("#q2").val();
            Q3 = 145 * $("#q3").val();
            Q4 = 165 * $("#q4").val();
            Q5 = 145 * $("#q5").val();
            Q6 = 185 * $("#q6").val();
            Q7 = 155 * $("#q7").val();
            Q8 = 185 * $("#q8").val();
            Q9 = 185 * $("#q9").val();
            Q10 = 175 * $("#q10").val();
            Q11 = 175 * $("#q11").val();
            Q12 = 195 * $("#q12").val();
            Q13 = 195 * $("#q13").val();
            Q14 = 260 * $("#q14").val();
            Q15 = 270 * $("#q15").val();
            Q16 = 280 * $("#q16").val();
            Q17 = 290 * $("#q17").val();
            Q18 = 300 * $("#q18").val();
            Q19 = 330 * $("#q19").val();
            Q20 = 330 * $("#q20").val();
            Q21 = 330 * $("#q21").val();
            Q22 = 150 * $("#q22").val();
            Q23 = 150 * $("#q23").val();
            Q24 = 150 * $("#q24").val();
            Q25 = 150 * $("#q25").val();
            Q26 = 150 * $("#q26").val();
            Q27 = 150 * $("#q27").val();
            Q28 = 260 * $("#q28").val();
            Q29 = 290 * $("#q29").val();
            Q30 = 330 * $("#q30").val();
            Q31 = 360 * $("#q31").val();
            Q32 = 390 * $("#q32").val();
            Q33 = 420 * $("#q33").val();
            Q34 = 430 * $("#q34").val();
            Q35 = 440 * $("#q35").val();
            Q36 = 260 * $("#q36").val();
            Q37 = 270 * $("#q37").val();
            Q38 = 280 * $("#q38").val();
            Q39 = 300 * $("#q39").val();
            Q40 = 300 * $("#q40").val();
            Q41 = 180 * $("#q41").val();
            Q42 = 180 * $("#q42").val();
            Q43 = 230 * $("#q43").val();
            Q44 = 240 * $("#q44").val();
            Q45 = 250 * $("#q45").val();
            Q46 = 260 * $("#q46").val();
            Q47 = 270 * $("#q47").val();
            Q48 = 360 * $("#q48").val();
            Q49 = 370 * $("#q49").val();
            Q50 = 380 * $("#q50").val();
            Q51 = 220 * $("#q51").val();
            Q52 = 240 * $("#q52").val();
            Q53 = 250 * $("#q53").val();
            Q54 = 150 * $("#q54").val();
            Q55 = 150 * $("#q55").val();
            Q56 = 150 * $("#q56").val();
            Q57 = 150 * $("#q57").val();
            Q58 = 150 * $("#q58").val();
            Q59 = 130 * $("#q59").val();
            Q60 = 140 * $("#q60").val();
            Q61 = 140 * $("#q61").val();
            Q62 = 150 * $("#q62").val();
            Q63 = 160 * $("#q63").val();
            Q64 = 145 * $("#q64").val();
            Q65 = 145 * $("#q65").val();
            Q66 = 145 * $("#q66").val();
            Q67 = 145 * $("#q67").val();
            Q68 = 145 * $("#q68").val();
            Q69 = 145 * $("#q69").val();
            Q70 = 145 * $("#q70").val();
            Q71 = 145 * $("#q71").val();

            var t1 = Q1 + Q2 + Q3 + Q4 + Q5 + Q6 + Q7 + Q8 + Q9 + Q10;
            var t2 = Q11 + Q12 + Q13 + Q14 + Q15 + Q16 + Q17 + Q18 + Q19 + Q20;
            var t3 = Q21 + Q22 + Q23 + Q24 + Q25 + Q26 + Q27 + Q28 + Q29 + Q30;
            var t4 = Q31 + Q32 + Q33 + Q34 + Q35 + Q36 + Q37 + Q38 + Q39 + Q40;
            var t5 = Q41 + Q42 + Q43 + Q44 + Q45 + Q46 + Q47 + Q48 + Q49 + Q50;
            var t6 = Q51 + Q52 + Q53 + Q54 + Q55 + Q56 + Q57 + Q58 + Q59 + Q60;
            var t7 = Q61 + Q62 + Q63 + Q64 + Q65 + Q66 + Q67 + Q68 + Q69 + Q70
            var t8 = Q71;

            total = t1 + t2 + t3 + t4 + t5 + t6 + t7 + t8;

            $("#totalbill").val(total);
            if (total != 0) {
                total = total.toLocaleString();
                total = "Your total bill amount will be Rs. " + total + "/-" + " only. Click on 'Confirm Order' button to confirm your order. Thank You!";
                $("#totalamount").html(total);
            } else {
                total = "Please provide quantity against your required book(s) first, to confirm your order. Thank You!";
                $("#totalamount").html(total);
            }
        });

        $("#confirmorder").click(function (event) {
            var Q1 = 0, Q2 = 0, Q3 = 0, Q4 = 0, Q5 = 0, Q6 = 0, Q7 = 0, Q8 = 0, Q9 = 0, Q10 = 0,
    Q11 = 0, Q12 = 0, Q13 = 0, Q14 = 0, Q15 = 0, Q16 = 0, Q17 = 0, Q18 = 0, Q19 = 0, Q20 = 0,
    Q21 = 0, Q22 = 0, Q23 = 0, Q24 = 0, Q25 = 0, Q26 = 0, Q27 = 0, Q28 = 0, Q29 = 0, Q30 = 0,
    Q31 = 0, Q32 = 0, Q33 = 0, Q34 = 0, Q35 = 0, Q36 = 0, Q37 = 0, Q38 = 0, Q39 = 0, Q40 = 0,
    Q41 = 0, Q42 = 0, Q43 = 0, Q44 = 0, Q45 = 0, Q46 = 0, Q47 = 0, Q48 = 0, Q49 = 0, Q50 = 0,
    Q51 = 0, Q52 = 0, Q53 = 0, Q54 = 0, Q55 = 0, Q56 = 0, Q57 = 0, Q58 = 0, Q59 = 0, Q60 = 0,
    Q61 = 0, Q62 = 0, Q63 = 0, Q64 = 0, Q65 = 0, Q66 = 0, Q67 = 0, Q68 = 0, Q69 = 0, Q70 = 0, Q71 = 0;

            var total = 0;

            Q1 = 175 * $("#q1").val();
            Q2 = 145 * $("#q2").val();
            Q3 = 145 * $("#q3").val();
            Q4 = 165 * $("#q4").val();
            Q5 = 145 * $("#q5").val();
            Q6 = 185 * $("#q6").val();
            Q7 = 155 * $("#q7").val();
            Q8 = 185 * $("#q8").val();
            Q9 = 185 * $("#q9").val();
            Q10 = 175 * $("#q10").val();
            Q11 = 175 * $("#q11").val();
            Q12 = 195 * $("#q12").val();
            Q13 = 195 * $("#q13").val();
            Q14 = 260 * $("#q14").val();
            Q15 = 270 * $("#q15").val();
            Q16 = 280 * $("#q16").val();
            Q17 = 290 * $("#q17").val();
            Q18 = 300 * $("#q18").val();
            Q19 = 330 * $("#q19").val();
            Q20 = 330 * $("#q20").val();
            Q21 = 330 * $("#q21").val();
            Q22 = 150 * $("#q22").val();
            Q23 = 150 * $("#q23").val();
            Q24 = 150 * $("#q24").val();
            Q25 = 150 * $("#q25").val();
            Q26 = 150 * $("#q26").val();
            Q27 = 150 * $("#q27").val();
            Q28 = 260 * $("#q28").val();
            Q29 = 290 * $("#q29").val();
            Q30 = 330 * $("#q30").val();
            Q31 = 360 * $("#q31").val();
            Q32 = 390 * $("#q32").val();
            Q33 = 420 * $("#q33").val();
            Q34 = 430 * $("#q34").val();
            Q35 = 440 * $("#q35").val();
            Q36 = 260 * $("#q36").val();
            Q37 = 270 * $("#q37").val();
            Q38 = 280 * $("#q38").val();
            Q39 = 300 * $("#q39").val();
            Q40 = 300 * $("#q40").val();
            Q41 = 180 * $("#q41").val();
            Q42 = 180 * $("#q42").val();
            Q43 = 230 * $("#q43").val();
            Q44 = 240 * $("#q44").val();
            Q45 = 250 * $("#q45").val();
            Q46 = 260 * $("#q46").val();
            Q47 = 270 * $("#q47").val();
            Q48 = 360 * $("#q48").val();
            Q49 = 370 * $("#q49").val();
            Q50 = 380 * $("#q50").val();
            Q51 = 220 * $("#q51").val();
            Q52 = 240 * $("#q52").val();
            Q53 = 250 * $("#q53").val();
            Q54 = 150 * $("#q54").val();
            Q55 = 150 * $("#q55").val();
            Q56 = 150 * $("#q56").val();
            Q57 = 150 * $("#q57").val();
            Q58 = 150 * $("#q58").val();
            Q59 = 130 * $("#q59").val();
            Q60 = 140 * $("#q60").val();
            Q61 = 140 * $("#q61").val();
            Q62 = 150 * $("#q62").val();
            Q63 = 160 * $("#q63").val();
            Q64 = 145 * $("#q64").val();
            Q65 = 145 * $("#q65").val();
            Q66 = 145 * $("#q66").val();
            Q67 = 145 * $("#q67").val();
            Q68 = 145 * $("#q68").val();
            Q69 = 145 * $("#q69").val();
            Q70 = 145 * $("#q70").val();
            Q71 = 145 * $("#q71").val();

            var t1 = Q1 + Q2 + Q3 + Q4 + Q5 + Q6 + Q7 + Q8 + Q9 + Q10;
            var t2 = Q11 + Q12 + Q13 + Q14 + Q15 + Q16 + Q17 + Q18 + Q19 + Q20;
            var t3 = Q21 + Q22 + Q23 + Q24 + Q25 + Q26 + Q27 + Q28 + Q29 + Q30;
            var t4 = Q31 + Q32 + Q33 + Q34 + Q35 + Q36 + Q37 + Q38 + Q39 + Q40;
            var t5 = Q41 + Q42 + Q43 + Q44 + Q45 + Q46 + Q47 + Q48 + Q49 + Q50;
            var t6 = Q51 + Q52 + Q53 + Q54 + Q55 + Q56 + Q57 + Q58 + Q59 + Q60;
            var t7 = Q61 + Q62 + Q63 + Q64 + Q65 + Q66 + Q67 + Q68 + Q69 + Q70
            var t8 = Q71;

            total = t1 + t2 + t3 + t4 + t5 + t6 + t7 + t8;
            $("#totalbill").val(total);

            var Fullname = $("#fullname").val();
            var SchoolName = $("#schoolname").val();
            var Address = $("#address").val();
            var Contact = $("#contact").val();
            var City = $("#city").val();

            if (Fullname != "" && SchoolName != "" && Address != "" && Contact != "" && City != "") {
                if (total > 0) {
                    $("#orders").submit();
                } else {
                    alert("Please select quantity before confirming your order.")
                }
            } else {
                alert("Please fill up all the required fields.")
            }
        });
    });
</script>
