﻿
@{
    ViewBag.Title = "PriceList";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}
<style>
    .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9 {
        float: none;
        text-align: -webkit-center;
    }
</style>
<div class="container" style="text-align:center">
    <div class="row" style="margin-top:15px;">
        <div class="col-sm-12">
            <input type="button" id="btnPrint" value="Print this Price List" />
        </div>
    </div>
    <div class="row" style="text-align:center; margin-top:15px; margin-bottom:15px;">
        <div class="col-sm-1"></div>
        <div class="col-sm-10" id="dvContents">
            <img src="~/Content/PriceList/Price List 2018.jpeg" width="800" height="1000">
        </div>
        <div class="col-sm-1"></div>
    </div>

</div>
@*<a href="javascript:window.print()">Print QR code</a>*@
@*<a href="javascript:window.print()">Click to Print This Page</a>*@
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script type="text/javascript">
$(function () {
    $("#btnPrint").click(function () {
        var contents = $("#dvContents").html();
        var frame1 = $('<iframe />');
        frame1[0].name = "frame1";
        frame1.css({ "position": "absolute", "top": "-1000000px" });
        $("body").append(frame1);
        var frameDoc = frame1[0].contentWindow ? frame1[0].contentWindow : frame1[0].contentDocument.document ? frame1[0].contentDocument.document : frame1[0].contentDocument;
        frameDoc.document.open();
        //Create a new HTML document.
        frameDoc.document.write('<html><head><title>BookWise - Price List (2018)</title>');
        frameDoc.document.write('</head><body>');
        //Append the external CSS file.
        frameDoc.document.write('<link href="style.css" rel="stylesheet" type="text/css" />');
        //Append the DIV contents.
        frameDoc.document.write(contents);
        frameDoc.document.write('</body></html>');
        frameDoc.document.close();
        setTimeout(function () {
            window.frames["frame1"].focus();
            window.frames["frame1"].print();
            frame1.remove();
        }, 500);
    });
});
</script>

