﻿@using BookWise.Models
@model Orders
@{
    int count = 1;
}
<div id="quick_view_container" style="display: block;">
    <div id="placeholder_product_quick_view" class="woocommerce">
        <div id="product-200" class="post-200 type-product status-publish has-post-thumbnail product_cat-arts-photography product_cat-audiobooks product_cat-biographies product_cat-business-money product_cat-bussiness-money product_cat-calendars product_cat-casual-shirts product_cat-childrens-books product_cat-chinos product_cat-comics product_cat-computers product_cat-cookbooks product_cat-dress-pants product_cat-education product_cat-limited-edition product_cat-mens product_cat-womens product_tag-tag1 product_tag-tag2 product_tag-tag3 product_tag-tag4 product first instock sale taxable shipping-taxable purchasable product-type-simple">
            <a href="javascript:void(0)" id="close_quickview"></a>
            <div class="product_content_wrapper">
                <div class="row">
                    <div class="container">
                        <h3 style="color:red">Order Details</h3>
                        <p><b style="color:black">Full Name:</b> @Model.FullName, <b style="color:black">Contact:</b> @Model.Contact, <b style="color:black">City:</b> @Model.City</p>
                        <p><b style="color:black">School Name:</b> @Model.SchoolName, <b style="color:black">Address:</b> @Model.Address</p>
                        <table class="table table-condensed table-bordered table-striped" id="tbl">
                            <thead style="color:red">
                                <tr>
                                    <th>#</th>
                                    <th>Book Name</th>
                                    <th>Quantity</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model.Book1 != 0)
                                {
                                    <tr>
                                        <td>@count</td>
                                        <td>Beginners Series - Alphabet Book (HB)</td>
                                        <td>@Model.Book1</td>
                                    </tr>
                                    count++;
                                }
                                @if (Model.Book2 != 0)
                                {
                                    <tr>
                                        <td>@count</td>
                                        <td>Beginners Series - Alphabet Activity (Small Letters)</td>
                                        <td>@Model.Book2</td>
                                    </tr>
                                    count++;
                                }
                                @if (Model.Book3 != 0)
                                {
                                    <tr>
                                        <td>@count</td>
                                        <td>Beginners Series - Alphabet Activity (Capital Letters)</td>
                                        <td>@Model.Book3</td>
                                    </tr>
                                    count++;
                                }
                                @if (Model.Book4 != 0)
                                {
                                    <tr>
                                        <td>@count</td>
                                        <td>Beginners Series - Counting Book (HB)</td>
                                        <td>@Model.Book4</td>
                                    </tr>
                                    count++;
                                }
                                @if (Model.Book5 != 0)
                                {
                                    <tr>
                                        <td>@count</td>
                                        <td>Beginners Series - Counting Activity</td>
                                        <td>@Model.Book5</td>
                                    </tr>
                                    count++;
                                }
                                @if (Model.Book6 != 0)
                                {
                                    <tr>
                                        <td>@count</td>
                                        <td>Beginners Series - Alif Bay Pay Book (HB)</td>
                                        <td>@Model.Book6</td>
                                    </tr>
                                    count++;
                                }
                                @if (Model.Book7 != 0)
                                {
                                    <tr>
                                        <td>@count</td>
                                        <td>Beginners Series - Alif Bay Pay (Likhan or Rang Bharain)</td>
                                        <td>@Model.Book7</td>
                                    </tr>
                                    count++;
                                }
                                @if (Model.Book8 != 0)
                                {
                                    <tr>
                                        <td>@count</td>
                                        <td>Let's Start Learning - ABC Picture Book</td>
                                        <td>@Model.Book8</td>
                                    </tr>
                                    count++;
                                }
                                @if (Model.Book9 != 0)
                                {
                                    <tr>
                                        <td>@count</td>
                                        <td>Let's Start Learning - ABC Activity Book</td>
                                        <td>@Model.Book9</td>
                                    </tr>
                                    count++;
                                }
                                @if (Model.Book10 != 0)
                                {
                                    <tr>
                                        <td>@count</td>
                                        <td>Let's Start Learning - 123 Picture Book</td>
                                        <td>@Model.Book10</td>
                                    </tr>
                                    count++;
                                }
                                @if (Model.Book11 != 0)
                                {
                                    <tr>
                                        <td>@count</td>
                                        <td>Let's Start Learning - 123 Activity Book</td>
                                        <td>@Model.Book11</td>
                                    </tr>
                                    count++;
                                }
                                @if (Model.Book12 != 0)
                                {
                                    <tr>
                                        <td>@count</td>
                                        <td>Let's Start Learning - Urdu Tasveeri Qaida</td>
                                        <td>@Model.Book12</td>
                                    </tr>
                                    count++;
                                }
                                @if (Model.Book13 != 0)
                                {
                                    <tr>
                                        <td>@count</td>
                                        <td>Let's Start Learning - Urdu Likhan or Rang Bharain</td>
                                        <td>@Model.Book13</td>
                                    </tr>
                                    count++;
                                }
                                @if (Model.Book14 != 0)
                                {
                                    <tr>
                                        <td>@count</td>
                                        <td>Grammar & More - Book 1</td>
                                        <td>@Model.Book14</td>
                                    </tr>
                                    count++;
                                }
                                @if (Model.Book15 != 0)
                                {
                                    <tr>
                                        <td>@count</td>
                                        <td>Grammar & More - Book 2</td>
                                        <td>@Model.Book15</td>
                                    </tr>
                                    count++;
                                }
                                @if (Model.Book16 != 0)
                                {
                                    <tr>
                                        <td>@count</td>
                                        <td>Grammar & More - Book 3</td>
                                        <td>@Model.Book16</td>
                                    </tr>
                                    count++;
                                }
                                @if (Model.Book17 != 0)
                                {
                                    <tr>
                                        <td>@count</td>
                                        <td>Grammar & More - Book 4</td>
                                        <td>@Model.Book17</td>
                                    </tr>
                                    count++;
                                }
                                @if (Model.Book18 != 0)
                                {
                                    <tr>
                                        <td>@count</td>
                                        <td>Grammar & More - Book 5</td>
                                        <td>@Model.Book18</td>
                                    </tr>
                                    count++;
                                }
                                @if (Model.Book19 != 0)
                                {
                                    <tr>
                                        <td>@count</td>
                                        <td>Grammar & More - Book 6</td>
                                        <td>@Model.Book19</td>
                                    </tr>
                                    count++;
                                }
                                @if (Model.Book20 != 0)
                                {
                                    <tr>
                                        <td>@count</td>
                                        <td>Grammar & More - Book 7</td>
                                        <td>@Model.Book20</td>
                                    </tr>
                                    count++;
                                }
                                @if (Model.Book21 != 0)
                                {
                                    <tr>
                                        <td>@count</td>
                                        <td>Grammar & More - Book 8</td>
                                        <td>@Model.Book21</td>
                                    </tr>
                                    count++;
                                }
                                @if (Model.Book22 != 0)
                                {
                                    <tr>
                                        <td>@count</td>
                                        <td>My Fun To Learn Math - Pre-Primary 1</td>
                                        <td>@Model.Book22</td>
                                    </tr>
                                    count++;
                                }
                                @if (Model.Book23 != 0)
                                {
                                    <tr>
                                        <td>@count</td>
                                        <td>My Fun To Learn Math - Pre-Primary 2</td>
                                        <td>@Model.Book23</td>
                                    </tr>
                                    count++;
                                }
                                @if (Model.Book24 != 0)
                                {
                                    <tr>
                                        <td>@count</td>
                                        <td>My Fun To Learn Math - Pre-Primary 3</td>
                                        <td>@Model.Book24</td>
                                    </tr>
                                    count++;
                                }
                                @if (Model.Book25 != 0)
                                {
                                    <tr>
                                        <td>@count</td>
                                        <td>My Fun To Learn Language - Pre-Primary 1</td>
                                        <td>@Model.Book25</td>
                                    </tr>
                                    count++;
                                }
                                @if (Model.Book26 != 0)
                                {
                                    <tr>
                                        <td>@count</td>
                                        <td>My Fun To Learn Language - Pre-Primary 2</td>
                                        <td>@Model.Book26</td>
                                    </tr>
                                    count++;
                                }
                                @if (Model.Book27 != 0)
                                {
                                    <tr>
                                        <td>@count</td>
                                        <td>My Fun To Learn Language - Pre-Primary 3</td>
                                        <td>@Model.Book27</td>
                                    </tr>
                                    count++;
                                }
                                @if (Model.Book28 != 0)
                                {
                                    <tr>
                                        <td>@count</td>
                                        <td>Right Click - Book 1</td>
                                        <td>@Model.Book28</td>
                                    </tr>
                                    count++;
                                }
                                @if (Model.Book29 != 0)
                                {
                                    <tr>
                                        <td>@count</td>
                                        <td>Right Click - Book 2</td>
                                        <td>@Model.Book29</td>
                                    </tr>
                                    count++;
                                }
                                @if (Model.Book30 != 0)
                                {
                                    <tr>
                                        <td>@count</td>
                                        <td>Right Click - Book 3</td>
                                        <td>@Model.Book30</td>
                                    </tr>
                                    count++;
                                }
                                @if (Model.Book31 != 0)
                                {
                                    <tr>
                                        <td>@count</td>
                                        <td>Right Click - Book 4</td>
                                        <td>@Model.Book31</td>
                                    </tr>
                                    count++;
                                }
                                @if (Model.Book32 != 0)
                                {
                                    <tr>
                                        <td>@count</td>
                                        <td>Right Click - Book 5</td>
                                        <td>@Model.Book32</td>
                                    </tr>
                                    count++;
                                }
                                @if (Model.Book33 != 0)
                                {
                                    <tr>
                                        <td>@count</td>
                                        <td>Right Click - Book 6</td>
                                        <td>@Model.Book33</td>
                                    </tr>
                                    count++;
                                }
                                @if (Model.Book34 != 0)
                                {
                                    <tr>
                                        <td>@count</td>
                                        <td>Right Click - Book 7</td>
                                        <td>@Model.Book34</td>
                                    </tr>
                                    count++;
                                }
                                @if (Model.Book35 != 0)
                                {
                                    <tr>
                                        <td>@count</td>
                                        <td>Right Click - Book 8</td>
                                        <td>@Model.Book35</td>
                                    </tr>
                                    count++;
                                }
                                @if (Model.Book36 != 0)
                                {
                                    <tr>
                                        <td>@count</td>
                                        <td>Science World - Book 1</td>
                                        <td>@Model.Book36</td>
                                    </tr>
                                    count++;
                                }
                                @if (Model.Book37 != 0)
                                {
                                    <tr>
                                        <td>@count</td>
                                        <td>Science World - Book 2</td>
                                        <td>@Model.Book37</td>
                                    </tr>
                                    count++;
                                }
                                @if (Model.Book38 != 0)
                                {
                                    <tr>
                                        <td>@count</td>
                                        <td>Science World - Book 3</td>
                                        <td>@Model.Book38</td>
                                    </tr>
                                    count++;
                                }
                                @if (Model.Book39 != 0)
                                {
                                    <tr>
                                        <td>@count</td>
                                        <td>Science World - Book 4</td>
                                        <td>@Model.Book39</td>
                                    </tr>
                                    count++;
                                }
                                @if (Model.Book40 != 0)
                                {
                                    <tr>
                                        <td>@count</td>
                                        <td>Science World - Book 5</td>
                                        <td>@Model.Book40</td>
                                    </tr>
                                    count++;
                                }
                                @if (Model.Book41 != 0)
                                {
                                    <tr>
                                        <td>@count</td>
                                        <td>Social Studies - Pre-Primary A</td>
                                        <td>@Model.Book41</td>
                                    </tr>
                                    count++;
                                }
                                @if (Model.Book42 != 0)
                                {
                                    <tr>
                                        <td>@count</td>
                                        <td>Social Studies - Pre-Primary B</td>
                                        <td>@Model.Book42</td>
                                    </tr>
                                    count++;
                                }
                                @if (Model.Book43 != 0)
                                {
                                    <tr>
                                        <td>@count</td>
                                        <td>Social Studies - Book 1</td>
                                        <td>@Model.Book43</td>
                                    </tr>
                                    count++;
                                }
                                @if (Model.Book44 != 0)
                                {
                                    <tr>
                                        <td>@count</td>
                                        <td>Social Studies - Book 2</td>
                                        <td>@Model.Book44</td>
                                    </tr>
                                    count++;
                                }
                                @if (Model.Book45 != 0)
                                {
                                    <tr>
                                        <td>@count</td>
                                        <td>Social Studies - Book 3</td>
                                        <td>@Model.Book45</td>
                                    </tr>
                                    count++;
                                }
                                @if (Model.Book46 != 0)
                                {
                                    <tr>
                                        <td>@count</td>
                                        <td>Social Studies - Book 4</td>
                                        <td>@Model.Book46</td>
                                    </tr>
                                    count++;
                                }
                                @if (Model.Book47 != 0)
                                {
                                    <tr>
                                        <td>@count</td>
                                        <td>Social Studies - Book 5</td>
                                        <td>@Model.Book47</td>
                                    </tr>
                                    count++;
                                }
                                @if (Model.Book48 != 0)
                                {
                                    <tr>
                                        <td>@count</td>
                                        <td>Secondary Social Studies - Book 6</td>
                                        <td>@Model.Book48</td>
                                    </tr>
                                    count++;
                                }
                                @if (Model.Book49 != 0)
                                {
                                    <tr>
                                        <td>@count</td>
                                        <td>Secondary Social Studies - Book 7</td>
                                        <td>@Model.Book49</td>
                                    </tr>
                                    count++;
                                }
                                @if (Model.Book50 != 0)
                                {
                                    <tr>
                                        <td>@count</td>
                                        <td>Secondary Social Studies - Book 8</td>
                                        <td>@Model.Book50</td>
                                    </tr>
                                    count++;
                                }
                                @if (Model.Book51 != 0)
                                {
                                    <tr>
                                        <td>@count</td>
                                        <td>Urdu Ki Amli Kitaab - Ibtidai Awal</td>
                                        <td>@Model.Book51</td>
                                    </tr>
                                    count++;
                                }
                                @if (Model.Book52 != 0)
                                {
                                    <tr>
                                        <td>@count</td>
                                        <td>Urdu Ki Amli Kitaab - Ibtidai Doem</td>
                                        <td>@Model.Book52</td>
                                    </tr>
                                    count++;
                                }
                                @if (Model.Book53 != 0)
                                {
                                    <tr>
                                        <td>@count</td>
                                        <td>Urdu Ki Amli Kitaab - Ibtidai Soem</td>
                                        <td>@Model.Book53</td>
                                    </tr>
                                    count++;
                                }
                                @if (Model.Book54 != 0)
                                {
                                    <tr>
                                        <td>@count</td>
                                        <td>Urdu Likhai - Ibtedai</td>
                                        <td>@Model.Book54</td>
                                    </tr>
                                    count++;
                                }
                                @if (Model.Book55 != 0)
                                {
                                    <tr>
                                        <td>@count</td>
                                        <td>Urdu Likhai - Awal</td>
                                        <td>@Model.Book55</td>
                                    </tr>
                                    count++;
                                }
                                @if (Model.Book56 != 0)
                                {
                                    <tr>
                                        <td>@count</td>
                                        <td>Urdu Likhai - Doem</td>
                                        <td>@Model.Book56</td>
                                    </tr>
                                    count++;
                                }
                                @if (Model.Book57 != 0)
                                {
                                    <tr>
                                        <td>@count</td>
                                        <td>Urdu Likhai - Soaim</td>
                                        <td>@Model.Book57</td>
                                    </tr>
                                    count++;
                                }
                                @if (Model.Book58 != 0)
                                {
                                    <tr>
                                        <td>@count</td>
                                        <td>Urdu Likhai - Chaharam</td>
                                        <td>@Model.Book58</td>
                                    </tr>
                                    count++;
                                }
                                @if (Model.Book59 != 0)
                                {
                                    <tr>
                                        <td>@count</td>
                                        <td>Al Husna Islamiyat - Book 1</td>
                                        <td>@Model.Book59</td>
                                    </tr>
                                    count++;
                                }
                                @if (Model.Book60 != 0)
                                {
                                    <tr>
                                        <td>@count</td>
                                        <td>Al Husna Islamiyat - Book 2</td>
                                        <td>@Model.Book60</td>
                                    </tr>
                                    count++;
                                }
                                @if (Model.Book61 != 0)
                                {
                                    <tr>
                                        <td>@count</td>
                                        <td>Al Husna Islamiyat - Book 3</td>
                                        <td>@Model.Book61</td>
                                    </tr>
                                    count++;
                                }
                                @if (Model.Book62 != 0)
                                {
                                    <tr>
                                        <td>@count</td>
                                        <td>Al Husna Islamiyat - Book 4</td>
                                        <td>@Model.Book62</td>
                                    </tr>
                                    count++;
                                }
                                @if (Model.Book63 != 0)
                                {
                                    <tr>
                                        <td>@count</td>
                                        <td>Al Husna Islamiyat - Book 5</td>
                                        <td>@Model.Book63</td>
                                    </tr>
                                    count++;
                                }
                                @if (Model.Book64 != 0)
                                {
                                    <tr>
                                        <td>@count</td>
                                        <td>Fun Art - Book A</td>
                                        <td>@Model.Book64</td>
                                    </tr>
                                    count++;
                                }
                                @if (Model.Book65 != 0)
                                {
                                    <tr>
                                        <td>@count</td>
                                        <td>Fun Art - Book B</td>
                                        <td>@Model.Book65</td>
                                    </tr>
                                    count++;
                                }
                                @if (Model.Book66 != 0)
                                {
                                    <tr>
                                        <td>@count</td>
                                        <td>Fun Art - Book C</td>
                                        <td>@Model.Book66</td>
                                    </tr>
                                    count++;
                                }
                                @if (Model.Book67 != 0)
                                {
                                    <tr>
                                        <td>@count</td>
                                        <td>Fun Art - Book 1</td>
                                        <td>@Model.Book67</td>
                                    </tr>
                                    count++;
                                }
                                @if (Model.Book68 != 0)
                                {
                                    <tr>
                                        <td>@count</td>
                                        <td>Fun Art - Book 2</td>
                                        <td>@Model.Book68</td>
                                    </tr>
                                    count++;
                                }
                                @if (Model.Book69 != 0)
                                {
                                    <tr>
                                        <td>@count</td>
                                        <td>Fun Art - Book 3</td>
                                        <td>@Model.Book69</td>
                                    </tr>
                                    count++;
                                }
                                @if (Model.Book70 != 0)
                                {
                                    <tr>
                                        <td>@count</td>
                                        <td>Fun Art - Book 4</td>
                                        <td>@Model.Book70</td>
                                    </tr>
                                    count++;
                                }
                                @if (Model.Book71 != 0)
                                {
                                    <tr>
                                        <td>@count</td>
                                        <td>Fun Art - Book 5</td>
                                        <td>@Model.Book71</td>
                                    </tr>
                                    count++;
                                }
                            </tbody>
                        </table>
                        <p><b>Total Amount:</b> Rs. @Model.TotalAmount/- only.</p>
                    </div>
                </div><!-- .row -->
            </div><!-- .product_content_wrapper -->
        </div>
    </div>
</div>