﻿@model IEnumerable<BookWise.Models.TeachersCorner>
@{
    ViewBag.Title = "BWAdmin";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
    int count = 1;
}

<div class="container" style="margin-top:30px; margin-bottom:30px;">
    <a href="/Admin/BWAdmin/"><input type="button" class="btn btn-lg btn-danger center-block" value="Teacher's Login Request"></a>
    <a style="margin-left:5px;" href="/Admin/Careers/"><input type="button" class="btn btn-lg btn-danger center-block" value="Career's Request"></a>
    <a style="margin-left:5px;" href="/Admin/OnlineOrders/"><input type="button" class="btn btn-lg btn-danger center-block" value="Online Orders"></a>
    <a style="margin-left:5px;" href="/Admin/SampleOrders/"><input type="button" class="btn btn-lg btn-danger center-block" value="Sample Books Order"></a>
    <a style="margin-left:5px;" href="/Admin/Logout/"><input type="button" class="btn btn-lg btn-danger center-block" value="Logout"></a>
    <div style="margin-top:30px;"></div>
    <h3>Teacher's Login Request</h3>
    <table class="table table-condensed table-bordered table-striped">
        <thead style="color:red">
            <tr>
                <th>#</th>
                <th>Status</th>
                <th>Name</th>
                <th>Email</th>
                <th>Contact #</th>
                <th>School Name</th>
                <th>School Address</th>
                <th>Date</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var request in Model)
            {
                <tr>
                    <td>@count</td>
                    @if (request.Status == true)
                    {
                        <td><a href="/Admin/CreateTeacherLogin/@request.Id">Open</a></td>
                    }
                    else
                    {
                            <td>Closed</td>
                    }
                    <td>@request.Name</td>
                    <td>@request.Email</td>
                    <td>@request.ContactNo</td>
                    <td>@request.SchoolName</td>
                    <td>@request.SchoolAddress</td>
                    <td>@request.SubmittedDate</td>
                </tr>
                count++;
            }
        </tbody>
    </table>
</div>

