﻿@model IEnumerable<BookWise.Models.Careers>
    @{
        ViewBag.Title = "Careers";
        Layout = "~/Views/Shared/_LayoutPage.cshtml";
        int count = 1;
        string nofile = "No file attached.";
    }

    <div class="container" style="margin-top:30px; margin-bottom:30px;">
        <a href="/Admin/BWAdmin/"><input type="button" class="btn btn-lg btn-danger center-block" value="Teacher's Login Request"></a>
        <a style="margin-left:5px;" href="/Admin/Careers/"><input type="button" class="btn btn-lg btn-danger center-block" value="Career's Request"></a>
        <a style="margin-left:5px;" href="/Admin/OnlineOrders/"><input type="button" class="btn btn-lg btn-danger center-block" value="Online Orders"></a>
        <a style="margin-left:5px;" href="/Admin/SampleOrders/"><input type="button" class="btn btn-lg btn-danger center-block" value="Sample Books Order"></a>
        <a style="margin-left:5px;" href="/Admin/Logout/"><input type="button" class="btn btn-lg btn-danger center-block" value="Logout"></a>
        <div style="margin-top:30px;"></div>
        <h3>Career's Request</h3>
        <table class="table table-condensed table-bordered table-striped">
            <thead style="color:red">
                <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Contact #</th>
                    <th>Applied As</th>
                    <th>Attachment</th>
                    <th>Date</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var request in Model)
            {
                    <tr>
                        <td>@count</td>
                        <td>@request.Name</td>
                        <td>@request.Email</td>
                        <td>@request.Contact</td>
                        <td>@request.AppliedAs</td>
                        <td>
                            @if (request.CvFile != "")
                            {
                                @Html.ActionLink(request.CvFile, "Download", "Admin", new { filepath = "~/Content/Resumes/" + request.CvFile, filename = request.CvFile }, null)
                            }
                            else
                            {
                                @nofile
                            }
                        </td>

                        <td>@request.SubmittedDate</td>
                    </tr>
                    count++;
                }
            </tbody>
        </table>
    </div>

