﻿
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<div class="container" style="margin-bottom:30px; margin-top:15px;">

    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-sm-8">
            <h3>BookWise Admin's Login</h3>
            <div style="margin-top:20px"></div>
            @using (Html.BeginForm("Login", "Admin", FormMethod.Post, new { id = "teacherslogin", enctype = "multipart/form-data" }))
            {
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label" style="color:red">Username</label>
                    <div class="col-sm-10">
                        <input required name="Username" type="text" class="form-control" placeholder="Type Username">
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-sm-2 col-form-label" style="color:red">Password</label>
                    <div class="col-sm-10">
                        <input required name="Password" type="password" class="form-control" placeholder="Type Password">
                    </div>
                </div>

                <div style="margin-top:30px; margin-bottom:20px;">
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label" style="color:red"></label>
                        <div class="col-sm-10">
                            <button class="btn btn-primary">Login</button>
                        </div>
                    </div>
                </div>
            }
            <div class="container" style="text-align:center">
                @if (TempData["Message"] != null)
            {
                    <div style="color:@TempData["Color"]">
                        @TempData["Message"]
                    </div>
                    TempData["Color"] = null;
                    TempData["Message"] = null;
                }
            </div>
        </div>
        <div class="col-sm-2"></div>
    </div>
</div>

