﻿@using BookWise.Models
@model IEnumerable<BookWise.Models.Orders>
@{
    ViewBag.Title = "Online Orders";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}
<style>
    #tbl td {
        vertical-align: middle;
    }
</style>
<div class="container" style="margin-top:30px; margin-bottom:30px;">
    <a href="/Admin/BWAdmin/"><input type="button" class="btn btn-lg btn-danger center-block" value="Teacher's Login Request"></a>
    <a style="margin-left:5px;" href="/Admin/Careers/"><input type="button" class="btn btn-lg btn-danger center-block" value="Career's Request"></a>
    <a style="margin-left:5px;" href="/Admin/OnlineOrders/"><input type="button" class="btn btn-lg btn-danger center-block" value="Online Orders"></a>
    <a style="margin-left:5px;" href="/Admin/SampleOrders/"><input type="button" class="btn btn-lg btn-danger center-block" value="Sample Books Order"></a>
    <a style="margin-left:5px;" href="/Admin/Logout/"><input type="button" class="btn btn-lg btn-danger center-block" value="Logout"></a>
    <div style="margin-top:30px;"></div>
    <h3>Online Orders</h3>
    <table class="table table-condensed table-bordered table-striped" id="tbl">
        <thead style="color:red">
            <tr>
                <th>Order #</th>
                <th>Name</th>
                <th>School Name</th>
                <th>Contact</th>
                <th>City</th>
                <th>Ordered Date</th>
                <th>Details</th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null)
            {
                foreach (var order in Model)
                {
                    <tr>
                        <td>@order.Id</td>
                        <td>@order.FullName</td>
                        <td>@order.SchoolName</td>
                        <td>@order.Contact</td>
                        <td>@order.City</td>
                        <td>@order.OrderDate</td>
                        <td><a href="/Admin/OrderDetails/@order.Id" class="viewdetails">View Details</a></td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td>No record available.</td>
                </tr>
            }
        </tbody>
    </table>
</div>
<script type="text/javascript">
    jQuery(document).ready(function ($) {
        $(".viewdetails").click(function (event) {
            event.preventDefault();
            var elt = $(this);
            $.ajax(
                {
                    url: elt.attr("href"),
                    type: "get"
                }
            ).done(function (result) {
                $("#myquickviewnew").html(result);
            });
        });
    });
</script>

