﻿
@{
    ViewBag.Title = "Beginners Series";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<div class="page-content">
    <div class="container-fluid">
        <article id="post-74" class="post-74 page type-page status-publish hentry">
            <div class="vc_row wpb_row vc_row-fluid banner-box-left vc_custom_1490772168459 vc_column-gap-15">
            </div>
            <div class="vc_row wpb_row vc_row-fluid vc_column-gap-15">
                <div class="pull-right wpb_column vc_column_container vc_col-sm-8 vc_col-lg-9 vc_col-md-8">
                    <div class="vc_column-inner vc_custom_1498037949212">
                        <div class="wpb_wrapper">

                            <h3 style="font-size: 18px;text-align: left" class="vc_custom_heading custom-heading vc_custom_1490581250175">Beginners Series</h3>

                            <div class="shop-products grid-view row">

                                <div class="first vgw-items col-md-2 col-xs-6 post-207 product type-product status-publish has-post-thumbnail product_cat-arts-photography product_cat-audiobooks product_cat-biographies product_cat-business-money product_cat-bussiness-money product_cat-calendars product_cat-casual-shirts product_cat-childrens-books product_cat-chinos product_cat-comics product_cat-computers product_cat-cookbooks product_cat-dress-pants product_cat-education product_cat-limited-edition product_cat-mens product_cat-womens product_tag-tag1 product_tag-tag2 product_tag-tag3 product_tag-tag4 instock sale featured taxable shipping-taxable purchasable product-type-simple">

                                    <div class="vgw-item effect-3">
                                        <div class="list-col4">

                                            <div class="product-image">

                                                <div class="product-label">
                                                     
                                                     
                                                </div>
                                                <a href="/Ebook/QuickView/44" class="bookquickview" title="Alphabet Book(HARDBACK)">
                                                    <img width="200" height="280" src="~/Content/Mockups/BeginnerSeries/BW-Alphabet-Book-1-A.jpg" class="primary_image lazy wp-post-image" alt="Alphabet Book(HARDBACK)" /><span class="second"><img width="200" height="280" src="~/Content/Mockups/BeginnerSeries/BW-Alphabet-Book-1-B.jpg" class="secondary_image lazy" alt="Alphabet Book(HARDBACK)" /></span>
                                                </a>

                                            </div>
                                        </div>
                                        <div class="list-col8">
                                            <div class="product-content">
                                                <h3 class="product-title">
                                                    <br />
                                                    <a href="/Ebook/QuickView/44" class="bookquickview">Beginners Series<br /><br />Alphabet Book (Hardback)<br /></a><br />
                                                    <a href="/Ebook/AlphabetBook/" target="_blank" class="single_add_to_cart_button button" style="color:white">
                                                        Look Inside
                                                    </a>
                                                </h3>
                                                <div style="margin-top:10px;"></div>
                                                <p>
                                                    <b>ISBN #</b><br />
                                                    978-969-600-007-5
                                                    <b>Price:</b> Rs.175/-
                                                </p>

                                            </div>
                                        </div>
                                    </div>

                                </div>                                
                                
                                <div class="first vgw-items col-md-2 col-xs-6 post-207 product type-product status-publish has-post-thumbnail product_cat-arts-photography product_cat-audiobooks product_cat-biographies product_cat-business-money product_cat-bussiness-money product_cat-calendars product_cat-casual-shirts product_cat-childrens-books product_cat-chinos product_cat-comics product_cat-computers product_cat-cookbooks product_cat-dress-pants product_cat-education product_cat-limited-edition product_cat-mens product_cat-womens product_tag-tag1 product_tag-tag2 product_tag-tag3 product_tag-tag4 instock sale featured taxable shipping-taxable purchasable product-type-simple">

                                    <div class="vgw-item effect-3">
                                        <div class="list-col4">

                                            <div class="product-image">

                                                <div class="product-label">
                                                     
                                                     
                                                </div>
                                                <a href="/Ebook/QuickView/45" class="bookquickview" title="Alphabet Activity(Capital)">
                                                    <img width="200" height="280" src="~/Content/Mockups/BeginnerSeries/BW-Alphabet-Activity-Capital-1A.jpg" class="primary_image lazy wp-post-image" alt="Alphabet Activity(Capital)" /><span class="second"><img width="200" height="280" src="~/Content/Mockups/BeginnerSeries/BW-Alphabet-Activity-Capital-1B.jpg" class="secondary_image lazy" alt="Alphabet Activity(Capital)" /></span>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="list-col8">
                                            <div class="product-content">
                                                <h3 class="product-title">
                                                    <br />
                                                    <a href="/Ebook/QuickView/45" class="bookquickview">Beginners Series<br /><br />Alphabet Activity Book (Capital)<br /></a><br />
                                                    <a href="/Ebook/AlphabatActivityBookCapital/" target="_blank" class="single_add_to_cart_button button" style="color:white">
                                                        Look Inside
                                                    </a>
                                                </h3>
                                                <div style="margin-top:10px;"></div>
                                                <p>
                                                    <b>ISBN #</b><br />
                                                    978-969-600-010-5
                                                    <b>Price:</b> Rs.145/-
                                                </p>

                                            </div>
                                        </div>
                                    </div>

                                </div>                                
                                
                                
                                <div class="first vgw-items col-md-2 col-xs-6 post-207 product type-product status-publish has-post-thumbnail product_cat-arts-photography product_cat-audiobooks product_cat-biographies product_cat-business-money product_cat-bussiness-money product_cat-calendars product_cat-casual-shirts product_cat-childrens-books product_cat-chinos product_cat-comics product_cat-computers product_cat-cookbooks product_cat-dress-pants product_cat-education product_cat-limited-edition product_cat-mens product_cat-womens product_tag-tag1 product_tag-tag2 product_tag-tag3 product_tag-tag4 instock sale featured taxable shipping-taxable purchasable product-type-simple">

                                    <div class="vgw-item effect-3">
                                        <div class="list-col4">

                                            <div class="product-image">

                                                <div class="product-label">
                                                     
                                                     
                                                </div>
                                                <a href="/Ebook/QuickView/46" class="bookquickview" title="Alphabet Activity(Small)">
                                                    <img width="200" height="280" src="~/Content/Mockups/BeginnerSeries/BW-Alphabet-Activity-Smalll-1-A.jpg" class="primary_image lazy wp-post-image" alt="Alphabet Activity(Small)" /><span class="second"><img width="200" height="280" src="~/Content/Mockups/BeginnerSeries/BW-Alphabet-Activity-Smalll-1-B.jpg" class="secondary_image lazy" alt="Alphabet Activity(Small)" /></span>
                                                </a>

                                            </div>
                                        </div>
                                        <div class="list-col8">
                                            <div class="product-content">
                                                <h3 class="product-title">
                                                    <br />
                                                    <a href="/Ebook/QuickView/46" class="bookquickview">Beginners Series<br /><br />Alphabet Activity Book (Small)<br /></a><br />
                                                    <a href="/Ebook/AlphabatActivityBookSmall/" target="_blank" class="single_add_to_cart_button button" style="color:white">
                                                        Look Inside
                                                    </a>
                                                </h3>
                                                <div style="margin-top:10px;"></div>
                                                <p>
                                                    <b>ISBN #</b><br />
                                                    978-969-600-011-2
                                                    <b>Price:</b> Rs.145/-
                                                </p>
                                            </div>
                                        </div>
                                    </div>

                                </div>                                
                                
                                
                                <div class="first vgw-items col-md-2 col-xs-6 post-207 product type-product status-publish has-post-thumbnail product_cat-arts-photography product_cat-audiobooks product_cat-biographies product_cat-business-money product_cat-bussiness-money product_cat-calendars product_cat-casual-shirts product_cat-childrens-books product_cat-chinos product_cat-comics product_cat-computers product_cat-cookbooks product_cat-dress-pants product_cat-education product_cat-limited-edition product_cat-mens product_cat-womens product_tag-tag1 product_tag-tag2 product_tag-tag3 product_tag-tag4 instock sale featured taxable shipping-taxable purchasable product-type-simple">

                                    <div class="vgw-item effect-3">
                                        <div class="list-col4">

                                            <div class="product-image">

                                                <div class="product-label">
                                                     
                                                     
                                                </div>
                                                <a href="/Ebook/QuickView/47" class="bookquickview" title="Counting Book(HARDBACK)">
                                                    <img width="200" height="280" src="~/Content/Mockups/BeginnerSeries/BW-Counting-Book-1-B.jpg" class="primary_image lazy wp-post-image" alt="Counting Book(HARDBACK)" /><span class="second"><img width="200" height="280" src="~/Content/Mockups/BeginnerSeries/BW-Counting-Book-1-A.jpg" class="secondary_image lazy" alt="Counting Book(HARDBACK)" /></span>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="list-col8">
                                            <div class="product-content">
                                                <h3 class="product-title">
                                                    <br />
                                                    <a href="/Ebook/QuickView/47" class="bookquickview">Beginners Series<br /><br />Counting Book (Hardback)<br /></a><br />
                                                    <a href="/Ebook/CountingBook/" target="_blank" class="single_add_to_cart_button button" style="color:white">
                                                        Look Inside
                                                    </a>
                                                </h3>
                                                <div style="margin-top:10px;"></div>
                                                <p>
                                                    <b>ISBN #</b><br />
                                                    978-969-600-009-9
                                                    <b>Price:</b> Rs.165/-
                                                </p>
                                            </div>
                                        </div>
                                    </div>

                                </div>                                
                                
                                
                                <div class="first vgw-items col-md-2 col-xs-6 post-207 product type-product status-publish has-post-thumbnail product_cat-arts-photography product_cat-audiobooks product_cat-biographies product_cat-business-money product_cat-bussiness-money product_cat-calendars product_cat-casual-shirts product_cat-childrens-books product_cat-chinos product_cat-comics product_cat-computers product_cat-cookbooks product_cat-dress-pants product_cat-education product_cat-limited-edition product_cat-mens product_cat-womens product_tag-tag1 product_tag-tag2 product_tag-tag3 product_tag-tag4 instock sale featured taxable shipping-taxable purchasable product-type-simple">

                                    <div class="vgw-item effect-3">
                                        <div class="list-col4">

                                            <div class="product-image">

                                                <div class="product-label">
                                                     
                                                     
                                                </div>
                                                <a href="/Ebook/QuickView/48" class="bookquickview" title="Counting Activity">
                                                    <img width="200" height="280" src="~/Content/Mockups/BeginnerSeries/BW-Counting-Activity-1-A.jpg" class="primary_image lazy wp-post-image" alt="Counting Activity" /><span class="second"><img width="200" height="280" src="~/Content/Mockups/BeginnerSeries/BW-Counting-Activity-1-B.jpg" class="secondary_image lazy" alt="Counting Activity" /></span>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="list-col8">
                                            <div class="product-content">
                                                <h3 class="product-title">
                                                    <br />
                                                    <a href="/Ebook/QuickView/48" class="bookquickview">Beginners Series<br /><br />Counting Activity Book<br /></a><br />
                                                    <a href="/Ebook/CountingActivityBook/" target="_blank" class="single_add_to_cart_button button" style="color:white">
                                                        Look Inside
                                                    </a>
                                                </h3>
                                                <div style="margin-top:10px;"></div>
                                                <p>
                                                    <b>ISBN #</b><br />
                                                    978-969-600-013-6
                                                    <b>Price:</b> Rs.145/-
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="first vgw-items col-md-2 col-xs-6 post-207 product type-product status-publish has-post-thumbnail product_cat-arts-photography product_cat-audiobooks product_cat-biographies product_cat-business-money product_cat-bussiness-money product_cat-calendars product_cat-casual-shirts product_cat-childrens-books product_cat-chinos product_cat-comics product_cat-computers product_cat-cookbooks product_cat-dress-pants product_cat-education product_cat-limited-edition product_cat-mens product_cat-womens product_tag-tag1 product_tag-tag2 product_tag-tag3 product_tag-tag4 instock sale featured taxable shipping-taxable purchasable product-type-simple">

                                    <div class="vgw-item effect-3">
                                        <div class="list-col4">

                                            <div class="product-image">

                                                <div class="product-label">


                                                </div>
                                                <a href="/Ebook/QuickView/49" class="bookquickview" title="Alif Bay Pay(HARDBACK)">
                                                    <img width="200" height="280" src="~/Content/Mockups/BeginnerSeries/BW-Alif-Bay-Pay-Hardback-1-A.jpg" class="primary_image lazy wp-post-image" alt="Alif Bay Pay(HARDBACK)" /><span class="second"><img width="200" height="280" src="~/Content/Mockups/BeginnerSeries/BW-Alif-Bay-Pay-Hardback-1-B.jpg" class="secondary_image lazy" alt="Alif Bay Pay(HARDBACK)" /></span>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="list-col8">
                                            <div class="product-content">
                                                <h3 class="product-title">
                                                    <br />
                                                    <a href="/Ebook/QuickView/49" class="bookquickview">Beginners Series<br /><br />Alif Bay Pay (Hardback)<br /></a><br />
                                                    <a href="/Ebook/AlifBayPay/" target="_blank" class="single_add_to_cart_button button" style="color:white">
                                                        Look Inside
                                                    </a>
                                                </h3>
                                                <div style="margin-top:10px;"></div>
                                                <p>
                                                    <b>ISBN #</b><br />
                                                    978-969-600-008-2
                                                    <b>Price:</b> Rs.185/-
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>                                
                                
                                <div class="first vgw-items col-md-2 col-xs-6 post-207 product type-product status-publish has-post-thumbnail product_cat-arts-photography product_cat-audiobooks product_cat-biographies product_cat-business-money product_cat-bussiness-money product_cat-calendars product_cat-casual-shirts product_cat-childrens-books product_cat-chinos product_cat-comics product_cat-computers product_cat-cookbooks product_cat-dress-pants product_cat-education product_cat-limited-edition product_cat-mens product_cat-womens product_tag-tag1 product_tag-tag2 product_tag-tag3 product_tag-tag4 instock sale featured taxable shipping-taxable purchasable product-type-simple">

                                    <div class="vgw-item effect-3">
                                        <div class="list-col4">

                                            <div class="product-image">

                                                <div class="product-label">


                                                </div>
                                                <a href="/Ebook/QuickView/50" class="bookquickview" title="Alif Bay Pay Likhay Rang">
                                                    <img width="200" height="280" src="~/Content/Mockups/BeginnerSeries/BW-Alif-Bay-Pay-Likhay-Rang-1-A.jpg" class="primary_image lazy wp-post-image" alt="Alif Bay Pay Likhay Rang" /><span class="second"><img width="200" height="280" src="~/Content/Mockups/BeginnerSeries/BW-Alif-Bay-Pay-Likhay-Rang-1-B.jpg" class="secondary_image lazy" alt="Alif Bay Pay Likhay Rang" /></span>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="list-col8">
                                            <div class="product-content">
                                                <h3 class="product-title">
                                                    <br />
                                                    <a href="/Ebook/QuickView/50" class="bookquickview">Beginners Series<br /><br />Alif Bay Pay Likhay Rang<br /></a><br />
                                                    <a href="/Ebook/UrduLikhayOrRangBharein/" target="_blank" class="single_add_to_cart_button button" style="color:white">
                                                        Look Inside
                                                    </a>
                                                </h3>
                                                <div style="margin-top:10px;"></div>
                                                <p>
                                                    <b>ISBN #</b><br />
                                                    978-969-600-012-9
                                                    <b>Price:</b> Rs.155/-
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>



                            </div>
                            <h3 style="font-size: 18px;text-align: left" class="vc_custom_heading custom-heading vc_custom_1490581250175">Description</h3>
                            <p>
                                The Beginners series is made for the students of Play Group. It is comprised of six books.
                            </p>
                            <p>
                                Three books are pictured based and they clear the basic concept of English, and Urdu alphabets and numerals.
                            </p>
                            <p>
                                Adequate space is provided for practice in the workbooks. Letters’ background are colourful which attract student’s attention and are helpful to imprint the shape of the letters in his or her mind.
                            </p>
                            <p>
                                All the above mentioned  qualities make our effort presentable. Our books have good quality paper, printing and binding.
                            </p>
                            <p>
                                Price of each book is nominal as compared to our effort. We hope that your encouraging response will motivate us to divert  our energies towards more publication of quality material.
                            </p>
                            <div style="margin-bottom:40px;"></div>
                        </div>
                    </div>
                </div>
                <div class="pull-left wpb_column vc_column_container vc_col-sm-4 vc_col-lg-3 vc_col-md-4">
                    <div class="vc_column-inner ">
                        <div class="wpb_wrapper">
                            <div class="vc_row wpb_row vc_inner vc_row-fluid vc_custom_1490545088729">
                                <div class="wpb_column vc_column_container vc_col-sm-12">
                                    <div class="vc_column-inner ">
                                        <div class="wpb_wrapper">
                                            <div class="wpb_widgetised_column wpb_content_element">
                                                <div class="wpb_wrapper">

                                                    <aside id="vg_skybook_category_treeview-2" class="widget sidebar sidebar-shop widget_vg_skybook_category_treeview">
                                                        <div class="widget-title"><h3 class="wgtitle style-title">Categories</h3></div>
                                                        <div id="vgw-category-treeview_sidebar" class="vg-skybook-category-treeview ">
                                                            <ul class="level0 filetree">
                                                                <li class="0">
                                                                    <a href="/BySeries/ScienceWorld/"><span class="catTitle folder">Science World</span></a>
                                                                <li class="0">
                                                                    <a href="/BySeries/GrammarMore/"><span class="catTitle folder">Grammar & More</span></a>
                                                                </li>
                                                                <li class="0">
                                                                    <a href="/BySeries/RightClick/"><span class="catTitle folder">Right Click: My Book of Computers</span></a>
                                                                </li>
                                                                <li class="0">
                                                                    <a href="/BySeries/UrduLikhai/"><span class="catTitle folder">Urdu Likhai</span></a>
                                                                </li>
                                                                <li class="0">
                                                                    <a href="/BySeries/FunArt/"><span class="catTitle folder">Fun Art: Art & Craft Activity Books</span></a>
                                                                </li>
                                                                <li class="0">
                                                                    <a href="/BySeries/SocialStudies/"><span class="catTitle folder">Social Studies for Pakistan</span></a>
                                                                </li>
                                                                <li class="0">
                                                                    <a href="/BySeries/SecondarySocialStudies/"><span class="catTitle folder">Secondary Social Studies for Pakistan</span></a>
                                                                </li>
                                                                <li class="0">
                                                                    <a href="/BySeries/BeginnerSeries/"><span class="catTitle folder">Beginners Series</span></a>
                                                                </li>
                                                                <li class="0">
                                                                    <a href="/BySeries/LetsStartLearning/"><span class="catTitle folder">Let's Start Learning</span></a>
                                                                </li>
                                                                <li class="0">
                                                                    <a href="/BySeries/MyFunToLearnLanguage/"><span class="catTitle folder">My Fun-to-Learn Language</span></a>
                                                                </li>
                                                                <li class="0">
                                                                    <a href="/BySeries/MyFunToLearnMath/"><span class="catTitle folder">My Fun-to-Learn Maths</span></a>
                                                                </li>
                                                                <li class="0">
                                                                    <a href="/BySeries/UrduKiAmliKitab/"><span class="catTitle folder">Urdu Ki Amli Kitab</span></a>
                                                                </li>
                                                                <li class="0">
                                                                    <a href="/BySeries/AlhusnaIslamyat"><span class="catTitle folder">Alhusna Islamiyat</span></a>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </aside>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="vc_row-full-width vc_clearfix"></div>
        </article>
    </div>
</div>
<script type="text/javascript">
    jQuery(document).ready(function ($) {
        $(".bookquickview").click(function (event) {
            event.preventDefault();
            var elt = $(this);
            $.ajax(
                {
                    url: elt.attr("href"),
                    type: "get"
                }
            ).done(function (result) {
                $("#myquickviewnew").html(result);
            });
        });
    });
</script>
