﻿
@{
    ViewBag.Title = "FunArt";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<div class="page-content">
    <div class="container-fluid">
        <article id="post-74" class="post-74 page type-page status-publish hentry">
            <div class="vc_row wpb_row vc_row-fluid banner-box-left vc_custom_1490772168459 vc_column-gap-15">
            </div>
            <div class="vc_row wpb_row vc_row-fluid vc_column-gap-15">
                <div class="pull-right wpb_column vc_column_container vc_col-sm-8 vc_col-lg-9 vc_col-md-8">
                    <div class="vc_column-inner vc_custom_1498037949212">
                        <div class="wpb_wrapper">
                            <h3 style="font-size: 18px;text-align: left" class="vc_custom_heading custom-heading vc_custom_1490581250175">Fun Art: Art & Craft Activity Books</h3>
                            <div class="shop-products grid-view row">

                                <div class="first vgw-items col-md-2 col-xs-6 post-207 product type-product status-publish has-post-thumbnail product_cat-arts-photography product_cat-audiobooks product_cat-biographies product_cat-business-money product_cat-bussiness-money product_cat-calendars product_cat-casual-shirts product_cat-childrens-books product_cat-chinos product_cat-comics product_cat-computers product_cat-cookbooks product_cat-dress-pants product_cat-education product_cat-limited-edition product_cat-mens product_cat-womens product_tag-tag1 product_tag-tag2 product_tag-tag3 product_tag-tag4 instock sale featured taxable shipping-taxable purchasable product-type-simple">

                                    <div class="vgw-item effect-3">
                                        <div class="list-col4">
                                            <div class="product-image">
                                                <div class="product-label">
                                                     
                                                     
                                                </div>
                                                <a href="/Ebook/QuickView/26" class="bookquickview" title="Book A">
                                                    <img width="200" height="145" src="~/Content/Mockups/FunArt/BW-Fun-Art-A-A.jpg" class="primary_image lazy wp-post-image" alt="Book A" /><span class="second"><img width="200" height="145" src="~/Content/Mockups/FunArt/BW-Fun-Art-A-B.jpg" class="secondary_image lazy" alt="Book A" /></span>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="list-col8">
                                            <div class="product-content">
                                                <h3 class="product-title">
                                                    <br />
                                                    <a href="/Ebook/QuickView/31" class="bookquickview">Fun Art: Art & Craft Activity Books<br /><br />Book A<br /></a><br />
                                                    <a href="/Ebook/FunArtCraftA/" target="_blank" class="single_add_to_cart_button button" style="color:white">
                                                        Look Inside
                                                    </a>
                                                </h3>
                                                <div style="margin-top:10px;"></div>
                                                <p>
                                                    <b>ISBN #</b><br />
                                                    978-969-600-047-1
                                                    <b>Price:</b> Rs.145/-
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="first vgw-items col-md-2 col-xs-6 post-207 product type-product status-publish has-post-thumbnail product_cat-arts-photography product_cat-audiobooks product_cat-biographies product_cat-business-money product_cat-bussiness-money product_cat-calendars product_cat-casual-shirts product_cat-childrens-books product_cat-chinos product_cat-comics product_cat-computers product_cat-cookbooks product_cat-dress-pants product_cat-education product_cat-limited-edition product_cat-mens product_cat-womens product_tag-tag1 product_tag-tag2 product_tag-tag3 product_tag-tag4 instock sale featured taxable shipping-taxable purchasable product-type-simple">

                                    <div class="vgw-item effect-3">
                                        <div class="list-col4">
                                            <div class="product-image">
                                                <div class="product-label">
                                                     
                                                     
                                                </div>
                                                <a href="/Ebook/QuickView/27" class="bookquickview" title="Book B">
                                                    <img width="200" height="145" src="~/Content/Mockups/FunArt/BW-Fun-Art-B-A.jpg" class="primary_image lazy wp-post-image" alt="Book B" /><span class="second"><img width="200" height="145" src="~/Content/Mockups/FunArt/BW-Fun-Art-B-B.jpg" class="secondary_image lazy" alt="Book B" /></span>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="list-col8">
                                            <div class="product-content">
                                                <h3 class="product-title">
                                                    <br />
                                                    <a href="/Ebook/QuickView/32" class="bookquickview">Fun Art: Art & Craft Activity Books<br /><br />Book B<br /></a><br />
                                                    <a href="/Ebook/FunArtCraftB/" target="_blank" class="single_add_to_cart_button button" style="color:white">
                                                        Look Inside
                                                    </a>
                                                </h3>
                                                <div style="margin-top:10px;"></div>
                                                <p>
                                                    <b>ISBN #</b><br />
                                                    978-969-600-048-8
                                                    <b>Price:</b> Rs.145/-
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="first vgw-items col-md-2 col-xs-6 post-207 product type-product status-publish has-post-thumbnail product_cat-arts-photography product_cat-audiobooks product_cat-biographies product_cat-business-money product_cat-bussiness-money product_cat-calendars product_cat-casual-shirts product_cat-childrens-books product_cat-chinos product_cat-comics product_cat-computers product_cat-cookbooks product_cat-dress-pants product_cat-education product_cat-limited-edition product_cat-mens product_cat-womens product_tag-tag1 product_tag-tag2 product_tag-tag3 product_tag-tag4 instock sale featured taxable shipping-taxable purchasable product-type-simple">

                                    <div class="vgw-item effect-3">
                                        <div class="list-col4">
                                            <div class="product-image">
                                                <div class="product-label">
                                                     
                                                     
                                                </div>
                                                <a href="/Ebook/QuickView/28" class="bookquickview" title="Book C">
                                                    <img width="200" height="145" src="~/Content/Mockups/FunArt/BW-Fun-Art-C-A.jpg" class="primary_image lazy wp-post-image" alt="Book C" /><span class="second"><img width="200" height="145" src="~/Content/Mockups/FunArt/BW-Fun-Art-C-B.jpg" class="secondary_image lazy" alt="Book C" /></span>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="list-col8">
                                            <div class="product-content">
                                                <h3 class="product-title">
                                                    <br />
                                                    <a href="/Ebook/QuickView/33" class="bookquickview">Fun Art: Art & Craft Activity Books<br /><br />Book C<br /></a><br />
                                                    <a href="/Ebook/FunArtCraftC/" target="_blank" class="single_add_to_cart_button button" style="color:white">
                                                        Look Inside
                                                    </a>
                                                </h3>
                                                <div style="margin-top:10px;"></div>
                                                <p>
                                                    <b>ISBN #</b><br />
                                                    978-969-600-049-5
                                                    <b>Price:</b> Rs.145/-
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="first vgw-items col-md-2 col-xs-6 post-207 product type-product status-publish has-post-thumbnail product_cat-arts-photography product_cat-audiobooks product_cat-biographies product_cat-business-money product_cat-bussiness-money product_cat-calendars product_cat-casual-shirts product_cat-childrens-books product_cat-chinos product_cat-comics product_cat-computers product_cat-cookbooks product_cat-dress-pants product_cat-education product_cat-limited-edition product_cat-mens product_cat-womens product_tag-tag1 product_tag-tag2 product_tag-tag3 product_tag-tag4 instock sale featured taxable shipping-taxable purchasable product-type-simple">

                                    <div class="vgw-item effect-3">
                                        <div class="list-col4">
                                            <div class="product-image">
                                                <div class="product-label">
                                                     
                                                     
                                                </div>
                                                <a href="/Ebook/QuickView/29" class="bookquickview" title="Book 1">
                                                    <img width="200" height="145" src="~/Content/Mockups/FunArt/BW-Fun-Art-1-A.jpg" class="primary_image lazy wp-post-image" alt="Book 1" /><span class="second"><img width="200" height="145" src="~/Content/Mockups/FunArt/BW-Fun-Art-1-B.jpg" class="secondary_image lazy" alt="Book 1" /></span>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="list-col8">
                                            <div class="product-content">
                                                <h3 class="product-title">
                                                    <br />
                                                    <a href="/Ebook/QuickView/26" class="bookquickview">Fun Art: Art & Craft Activity Books<br /><br />Book 1<br /></a><br />
                                                    <a href="/Ebook/FunArtCraft1/" target="_blank" class="single_add_to_cart_button button" style="color:white">
                                                        Look Inside
                                                    </a>
                                                </h3>
                                                <div style="margin-top:10px;"></div>
                                                <p>
                                                    <b>ISBN #</b><br />
                                                    978-969-600-050-1
                                                    <b>Price:</b> Rs.145/-
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="first vgw-items col-md-2 col-xs-6 post-207 product type-product status-publish has-post-thumbnail product_cat-arts-photography product_cat-audiobooks product_cat-biographies product_cat-business-money product_cat-bussiness-money product_cat-calendars product_cat-casual-shirts product_cat-childrens-books product_cat-chinos product_cat-comics product_cat-computers product_cat-cookbooks product_cat-dress-pants product_cat-education product_cat-limited-edition product_cat-mens product_cat-womens product_tag-tag1 product_tag-tag2 product_tag-tag3 product_tag-tag4 instock sale featured taxable shipping-taxable purchasable product-type-simple">

                                    <div class="vgw-item effect-3">
                                        <div class="list-col4">
                                            <div class="product-image">
                                                <div class="product-label">
                                                     
                                                     
                                                </div>
                                                <a href="/Ebook/QuickView/30" class="bookquickview" title="Book 2">
                                                    <img width="200" height="145" src="~/Content/Mockups/FunArt/BW-Fun-Art-2-A.jpg" class="primary_image lazy wp-post-image" alt="Book 2" /><span class="second"><img width="200" height="145" src="~/Content/Mockups/FunArt/BW-Fun-Art-2-B.jpg" class="secondary_image lazy" alt="Book 2" /></span>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="list-col8">
                                            <div class="product-content">
                                                <h3 class="product-title">
                                                    <br />
                                                    <a href="/Ebook/QuickView/27" class="bookquickview">Fun Art: Art & Craft Activity Books<br /><br />Book 2<br /></a><br />
                                                    <a href="/Ebook/FunArtCraft2/" target="_blank" class="single_add_to_cart_button button" style="color:white">
                                                        Look Inside
                                                    </a>
                                                </h3>
                                                <div style="margin-top:10px;"></div>
                                                <p>
                                                    <b>ISBN #</b><br />
                                                    978-969-600-051-8
                                                    <b>Price:</b> Rs.145/-
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="first vgw-items col-md-2 col-xs-6 post-207 product type-product status-publish has-post-thumbnail product_cat-arts-photography product_cat-audiobooks product_cat-biographies product_cat-business-money product_cat-bussiness-money product_cat-calendars product_cat-casual-shirts product_cat-childrens-books product_cat-chinos product_cat-comics product_cat-computers product_cat-cookbooks product_cat-dress-pants product_cat-education product_cat-limited-edition product_cat-mens product_cat-womens product_tag-tag1 product_tag-tag2 product_tag-tag3 product_tag-tag4 instock sale featured taxable shipping-taxable purchasable product-type-simple">

                                    <div class="vgw-item effect-3">
                                        <div class="list-col4">
                                            <div class="product-image">
                                                <div class="product-label">
                                                     
                                                     
                                                </div>
                                                <a href="/Ebook/QuickView/31" class="bookquickview" title="Book 3">
                                                    <img width="200" height="145" src="~/Content/Mockups/FunArt/BW-Fun-Art-3-A.jpg" class="primary_image lazy wp-post-image" alt="Book 3" /><span class="second"><img width="200" height="145" src="~/Content/Mockups/FunArt/BW-Fun-Art-3-B.jpg" class="secondary_image lazy" alt="Book 3" /></span>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="list-col8">
                                            <div class="product-content">
                                                <h3 class="product-title">
                                                    <br />
                                                    <a href="/Ebook/QuickView/28" class="bookquickview">Fun Art: Art & Craft Activity Books<br /><br />Book 3<br /></a><br />
                                                    <a href="/Ebook/FunArtCraft3/" target="_blank" class="single_add_to_cart_button button" style="color:white">
                                                        Look Inside
                                                    </a>
                                                </h3>
                                                <div style="margin-top:10px;"></div>
                                                <p>
                                                    <b>ISBN #</b><br />
                                                    978-969-600-052-5
                                                    <b>Price:</b> Rs.145/-
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="first vgw-items col-md-2 col-xs-6 post-207 product type-product status-publish has-post-thumbnail product_cat-arts-photography product_cat-audiobooks product_cat-biographies product_cat-business-money product_cat-bussiness-money product_cat-calendars product_cat-casual-shirts product_cat-childrens-books product_cat-chinos product_cat-comics product_cat-computers product_cat-cookbooks product_cat-dress-pants product_cat-education product_cat-limited-edition product_cat-mens product_cat-womens product_tag-tag1 product_tag-tag2 product_tag-tag3 product_tag-tag4 instock sale featured taxable shipping-taxable purchasable product-type-simple">

                                    <div class="vgw-item effect-3">
                                        <div class="list-col4">
                                            <div class="product-image">
                                                <div class="product-label">
                                                     
                                                     
                                                </div>
                                                <a href="/Ebook/QuickView/32" class="bookquickview" title="Book 4">
                                                    <img width="200" height="145" src="~/Content/Mockups/FunArt/BW-Fun-Art-4-A.jpg" class="primary_image lazy wp-post-image" alt="Book 4" /><span class="second"><img width="200" height="145" src="~/Content/Mockups/FunArt/BW-Fun-Art-4-B.jpg" class="secondary_image lazy" alt="Book 4" /></span>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="list-col8">
                                            <div class="product-content">
                                                <h3 class="product-title">
                                                    <br />
                                                    <a href="/Ebook/QuickView/29" class="bookquickview">Fun Art: Art & Craft Activity Books<br /><br />Book 4<br /></a><br />
                                                    <a href="/Ebook/FunArtCraft4/" target="_blank" class="single_add_to_cart_button button" style="color:white">
                                                        Look Inside
                                                    </a>
                                                </h3>
                                                <div style="margin-top:10px;"></div>
                                                <p>
                                                    <b>ISBN #</b><br />
                                                    978-969-600-053-2
                                                    <b>Price:</b> Rs.145/-
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="first vgw-items col-md-2 col-xs-6 post-207 product type-product status-publish has-post-thumbnail product_cat-arts-photography product_cat-audiobooks product_cat-biographies product_cat-business-money product_cat-bussiness-money product_cat-calendars product_cat-casual-shirts product_cat-childrens-books product_cat-chinos product_cat-comics product_cat-computers product_cat-cookbooks product_cat-dress-pants product_cat-education product_cat-limited-edition product_cat-mens product_cat-womens product_tag-tag1 product_tag-tag2 product_tag-tag3 product_tag-tag4 instock sale featured taxable shipping-taxable purchasable product-type-simple">

                                    <div class="vgw-item effect-3">
                                        <div class="list-col4">
                                            <div class="product-image">
                                                <div class="product-label">
                                                     
                                                     
                                                </div>
                                                <a href="/Ebook/QuickView/33" class="bookquickview" title="Book 5">
                                                    <img width="200" height="145" src="~/Content/Mockups/FunArt/BW-Fun-Art-5-A.jpg" class="primary_image lazy wp-post-image" alt="Book 5" /><span class="second"><img width="200" height="145" src="~/Content/Mockups/FunArt/BW-Fun-Art-5-B.jpg" class="secondary_image lazy" alt="Book 5" /></span>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="list-col8">
                                            <div class="product-content">
                                                <h3 class="product-title">
                                                    <br />
                                                    <a href="/Ebook/QuickView/30" class="bookquickview">Fun Art: Art & Craft Activity Books<br /><br />Book 5<br /></a><br />
                                                    <a href="/Ebook/FunArtCraft5/" target="_blank" class="single_add_to_cart_button button" style="color:white">
                                                        Look Inside
                                                    </a>
                                                </h3>
                                                <div style="margin-top:10px;"></div>
                                                <p>
                                                    <b>ISBN #</b><br />
                                                    978-969-600-054-9
                                                    <b>Price:</b> Rs.145/-
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <h3 style="font-size: 18px;text-align: left" class="vc_custom_heading custom-heading vc_custom_1490581250175">Description</h3>
                            <p>
                                FUN Art is a new fascinating series of Art Books/ Workbooks with separate programs for pre-school and for students of classes 1-5.
                            </p>
                            <p>
                                The series contains intriguing and fascinating ideas for the students to strengthen and polish their substratum of Art and Drawing skills.
                            </p>
                            <p>
                                Distinctive and unique ideas with wide range of material help students grow, both intellectually and emotionally, by throwing out their imagination on the paper.
                            </p>
                            <p>
                                FUN Art contains captivating and engaging art assignments and holding techniques, starting from elementary to advance levels.
                            </p>
                            <p>
                                Foot Notes provided for teachers in the books give them the right idea and concept for the required activity. Material Required is mentioned for each activity.
                            </p>
                            <p>
                                Step by step instructions are provided.
                            </p>
                            <p>
                                There is a hint point “What you will do” for every activity to help the students.
                            </p>
                            <p>
                                FUN Art is a colorful treat for students, an adventure that never seems to end.
                            </p>
                            <div style="margin-bottom:40px;"></div>
                        </div>
                    </div>
                </div>

                <div class="pull-left wpb_column vc_column_container vc_col-sm-4 vc_col-lg-3 vc_col-md-4">
                    <div class="vc_column-inner ">
                        <div class="wpb_wrapper">
                            <div class="vc_row wpb_row vc_inner vc_row-fluid vc_custom_1490545088729">
                                <div class="wpb_column vc_column_container vc_col-sm-12">
                                    <div class="vc_column-inner ">
                                        <div class="wpb_wrapper">
                                            <div class="wpb_widgetised_column wpb_content_element">
                                                <div class="wpb_wrapper">

                                                    <aside id="vg_skybook_category_treeview-2" class="widget sidebar sidebar-shop widget_vg_skybook_category_treeview">
                                                        <div class="widget-title"><h3 class="wgtitle style-title">Categories</h3></div>
                                                        <div id="vgw-category-treeview_sidebar" class="vg-skybook-category-treeview ">
                                                            <ul class="level0 filetree">
                                                                <li class="0">
                                                                    <a href="/BySeries/ScienceWorld/"><span class="catTitle folder">Science World</span></a>
                                                                <li class="0">
                                                                    <a href="/BySeries/GrammarMore/"><span class="catTitle folder">Grammar & More</span></a>
                                                                </li>
                                                                <li class="0">
                                                                    <a href="/BySeries/RightClick/"><span class="catTitle folder">Right Click: My Book of Computers</span></a>
                                                                </li>
                                                                <li class="0">
                                                                    <a href="/BySeries/UrduLikhai/"><span class="catTitle folder">Urdu Likhai</span></a>
                                                                </li>
                                                                <li class="0">
                                                                    <a href="/BySeries/FunArt/"><span class="catTitle folder">Fun Art: Art & Craft Activity Books</span></a>
                                                                </li>
                                                                <li class="0">
                                                                    <a href="/BySeries/SocialStudies/"><span class="catTitle folder">Social Studies for Pakistan</span></a>
                                                                </li>
                                                                <li class="0">
                                                                    <a href="/BySeries/SecondarySocialStudies/"><span class="catTitle folder">Secondary Social Studies for Pakistan</span></a>
                                                                </li>
                                                                <li class="0">
                                                                    <a href="/BySeries/BeginnerSeries/"><span class="catTitle folder">Beginners Series</span></a>
                                                                </li>
                                                                <li class="0">
                                                                    <a href="/BySeries/LetsStartLearning/"><span class="catTitle folder">Let's Start Learning</span></a>
                                                                </li>
                                                                <li class="0">
                                                                    <a href="/BySeries/MyFunToLearnLanguage/"><span class="catTitle folder">My Fun-to-Learn Language</span></a>
                                                                </li>
                                                                <li class="0">
                                                                    <a href="/BySeries/MyFunToLearnMath/"><span class="catTitle folder">My Fun-to-Learn Maths</span></a>
                                                                </li>
                                                                <li class="0">
                                                                    <a href="/BySeries/UrduKiAmliKitab/"><span class="catTitle folder">Urdu Ki Amli Kitab</span></a>
                                                                </li>
                                                                <li class="0">
                                                                    <a href="/BySeries/AlhusnaIslamyat"><span class="catTitle folder">Alhusna Islamiyat</span></a>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </aside>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="vc_row-full-width vc_clearfix"></div>
        </article>
    </div>
</div>
<script type="text/javascript">
    jQuery(document).ready(function ($) {
        $(".bookquickview").click(function (event) {
            event.preventDefault();
            var elt = $(this);
            $.ajax(
                {
                    url: elt.attr("href"),
                    type: "get"
                }
            ).done(function (result) {
                $("#myquickviewnew").html(result);
            });
        });
    });
</script>
