﻿
@{
    ViewBag.Title = "LetsStartLearning";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<div class="page-content">
    <div class="container-fluid">
        <article id="post-74" class="post-74 page type-page status-publish hentry">
            <div class="vc_row wpb_row vc_row-fluid banner-box-left vc_custom_1490772168459 vc_column-gap-15">
            </div>
            <div class="vc_row wpb_row vc_row-fluid vc_column-gap-15">
                <div class="pull-right wpb_column vc_column_container vc_col-sm-8 vc_col-lg-9 vc_col-md-8">
                    <div class="vc_column-inner vc_custom_1498037949212">
                        <div class="wpb_wrapper">
                            <h3 style="font-size: 18px;text-align: left" class="vc_custom_heading custom-heading vc_custom_1490581250175">Let's Start Learning</h3>

                            <div class="shop-products grid-view row">

                                <div class="first vgw-items col-md-2 col-xs-6 post-207 product type-product status-publish has-post-thumbnail product_cat-arts-photography product_cat-audiobooks product_cat-biographies product_cat-business-money product_cat-bussiness-money product_cat-calendars product_cat-casual-shirts product_cat-childrens-books product_cat-chinos product_cat-comics product_cat-computers product_cat-cookbooks product_cat-dress-pants product_cat-education product_cat-limited-edition product_cat-mens product_cat-womens product_tag-tag1 product_tag-tag2 product_tag-tag3 product_tag-tag4 instock sale featured taxable shipping-taxable purchasable product-type-simple">

                                    <div class="vgw-item effect-3">
                                        <div class="list-col4">
                                            <div class="product-image">
                                                <div class="product-label">
                                                     
                                                     
                                                </div>
                                                <a href="/Ebook/QuickView/52" class="bookquickview" title="ABC Picture Book">
                                                    <img width="200" height="280" src="~/Content/Mockups/LetsStartLearning/BW-ABC-Picture-Book-1-A.jpg" class="primary_image lazy wp-post-image" alt="ABC Picture Book" /><span class="second"><img width="200" height="280" src="~/Content/Mockups/LetsStartLearning/BW-ABC-Picture-Book-1-B.jpg" class="secondary_image lazy" alt="ABC Picture Book" /></span>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="list-col8">
                                            <div class="product-content">
                                                <h3 class="product-title">
                                                    <br />
                                                    <a href="/Ebook/QuickView/52" class="bookquickview">Let's Start Learning<br /><br />ABC Picture Book<br /></a><br /><br />
                                                    <a href="/Ebook/ABCPictureBookLSL/" target="_blank" class="single_add_to_cart_button button" style="color:white">
                                                        Look Inside
                                                    </a>
                                                </h3>
                                                <div style="margin-top:10px;"></div>
                                                <p>
                                                    <b>ISBN #</b><br />
                                                    978-969-600-021-1
                                                    <b>Price:</b> Rs.185/-
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="first vgw-items col-md-2 col-xs-6 post-207 product type-product status-publish has-post-thumbnail product_cat-arts-photography product_cat-audiobooks product_cat-biographies product_cat-business-money product_cat-bussiness-money product_cat-calendars product_cat-casual-shirts product_cat-childrens-books product_cat-chinos product_cat-comics product_cat-computers product_cat-cookbooks product_cat-dress-pants product_cat-education product_cat-limited-edition product_cat-mens product_cat-womens product_tag-tag1 product_tag-tag2 product_tag-tag3 product_tag-tag4 instock sale featured taxable shipping-taxable purchasable product-type-simple">

                                    <div class="vgw-item effect-3">
                                        <div class="list-col4">
                                            <div class="product-image">
                                                <div class="product-label">
                                                     
                                                     
                                                </div>
                                                <a href="/Ebook/QuickView/53" class="bookquickview" title="ABC Activity">
                                                    <img width="200" height="280" src="~/Content/Mockups/LetsStartLearning/BW-ABC-Activity-1-A.jpg" class="primary_image lazy wp-post-image" alt="ABC Activity" /><span class="second"><img width="200" height="280" src="~/Content/Mockups/LetsStartLearning/BW-ABC-Activity-1-B.jpg" class="secondary_image lazy" alt="ABC Activity" /></span>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="list-col8">
                                            <div class="product-content">
                                                <h3 class="product-title">
                                                    <br />
                                                    <a href="/Ebook/QuickView/53" class="bookquickview">Let's Start Learning<br /><br />ABC Activity Book<br /></a><br /><br />
                                                    <a href="/Ebook/ABCActivityBookLSL/" target="_blank" class="single_add_to_cart_button button" style="color:white">
                                                        Look Inside
                                                    </a>
                                                </h3>
                                                <div style="margin-top:10px;"></div>
                                                <p>
                                                    <b>ISBN #</b><br />
                                                    978-969-600-022-8
                                                    <b>Price:</b> Rs.185/-
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="first vgw-items col-md-2 col-xs-6 post-207 product type-product status-publish has-post-thumbnail product_cat-arts-photography product_cat-audiobooks product_cat-biographies product_cat-business-money product_cat-bussiness-money product_cat-calendars product_cat-casual-shirts product_cat-childrens-books product_cat-chinos product_cat-comics product_cat-computers product_cat-cookbooks product_cat-dress-pants product_cat-education product_cat-limited-edition product_cat-mens product_cat-womens product_tag-tag1 product_tag-tag2 product_tag-tag3 product_tag-tag4 instock sale featured taxable shipping-taxable purchasable product-type-simple">

                                    <div class="vgw-item effect-3">
                                        <div class="list-col4">
                                            <div class="product-image">
                                                <div class="product-label">
                                                     
                                                     
                                                </div>
                                                <a href="/Ebook/QuickView/54" class="bookquickview" title="123 Picture Book">
                                                    <img width="200" height="280" src="~/Content/Mockups/LetsStartLearning/BW-123-Picture-Book-1-A.jpg" class="primary_image lazy wp-post-image" alt="123 Picture Book" /><span class="second"><img width="200" height="280" src="~/Content/Mockups/LetsStartLearning/BW-123-Picture-Book-1-B.jpg" class="secondary_image lazy" alt="123 Picture Book" /></span>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="list-col8">
                                            <div class="product-content">
                                                <h3 class="product-title">
                                                    <br />
                                                    <a href="/Ebook/QuickView/54" class="bookquickview">Let's Start Learning<br /><br />123 Picture Book<br /></a><br /><br />
                                                    <a href="/Ebook/PictureBookLSL/" target="_blank" class="single_add_to_cart_button button" style="color:white">
                                                        Look Inside
                                                    </a>
                                                </h3>
                                                <div style="margin-top:10px;"></div>
                                                <p>
                                                    <b>ISBN #</b><br />
                                                    978-969-600-025-9
                                                    <b>Price:</b> Rs.175/-
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
<div class="first vgw-items col-md-2 col-xs-6 post-207 product type-product status-publish has-post-thumbnail product_cat-arts-photography product_cat-audiobooks product_cat-biographies product_cat-business-money product_cat-bussiness-money product_cat-calendars product_cat-casual-shirts product_cat-childrens-books product_cat-chinos product_cat-comics product_cat-computers product_cat-cookbooks product_cat-dress-pants product_cat-education product_cat-limited-edition product_cat-mens product_cat-womens product_tag-tag1 product_tag-tag2 product_tag-tag3 product_tag-tag4 instock sale featured taxable shipping-taxable purchasable product-type-simple">

                                    <div class="vgw-item effect-3">
                                        <div class="list-col4">
                                            <div class="product-image">
                                                <div class="product-label">
                                                     
                                                     
                                                </div>
                                                <a href="/Ebook/QuickView/55" class="bookquickview" title="123 Activity">
                                                    <img width="200" height="280" src="~/Content/Mockups/LetsStartLearning/BW-123-Activity-1-A.jpg" class="primary_image lazy wp-post-image" alt="123 Activity" /><span class="second"><img width="200" height="280" src="~/Content/Mockups/LetsStartLearning/BW-123-Activity-1-B.jpg" class="secondary_image lazy" alt="123 Activity" /></span>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="list-col8">
                                            <div class="product-content">
                                                <h3 class="product-title">
                                                    <br />
                                                    <a href="/Ebook/QuickView/55" class="bookquickview">Let's Start Learning<br /><br />123 Activity Book<br /></a><br /><br />
                                                    <a href="/Ebook/ActivityBookLSL/" target="_blank" class="single_add_to_cart_button button" style="color:white">
                                                        Look Inside
                                                    </a>
                                                </h3>
                                                <div style="margin-top:10px;"></div>
                                                <p>
                                                    <b>ISBN #</b><br />
                                                    978-969-600-026-6
                                                    <b>Price:</b> Rs.175/-
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="first vgw-items col-md-2 col-xs-6 post-207 product type-product status-publish has-post-thumbnail product_cat-arts-photography product_cat-audiobooks product_cat-biographies product_cat-business-money product_cat-bussiness-money product_cat-calendars product_cat-casual-shirts product_cat-childrens-books product_cat-chinos product_cat-comics product_cat-computers product_cat-cookbooks product_cat-dress-pants product_cat-education product_cat-limited-edition product_cat-mens product_cat-womens product_tag-tag1 product_tag-tag2 product_tag-tag3 product_tag-tag4 instock sale featured taxable shipping-taxable purchasable product-type-simple">

                                    <div class="vgw-item effect-3">
                                        <div class="list-col4">
                                            <div class="product-image">
                                                <div class="product-label">


                                                </div>
                                                <a href="/Ebook/QuickView/56" class="bookquickview" title="Urdu Tasveri Qaida">
                                                    <img width="200" height="280" src="~/Content/Mockups/LetsStartLearning/BW-Urdu-Tasveri-Qaida-1-A.jpg" class="primary_image lazy wp-post-image" alt="Urdu Tasveri Qaida" /><span class="second"><img width="200" height="280" src="~/Content/Mockups/LetsStartLearning/BW-Urdu-Tasveri-Qaida-1-B.jpg" class="secondary_image lazy" alt="Urdu Tasveri Qaida" /></span>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="list-col8">
                                            <div class="product-content">
                                                <h3 class="product-title">
                                                    <br />
                                                    <a href="/Ebook/QuickView/56" class="bookquickview">Let's Start Learning<br /><br />Urdu Tasveri Qaida<br /></a><br />
                                                    <a href="/Ebook/UrduTasveriQuiadaLSL/" target="_blank" class="single_add_to_cart_button button" style="color:white">
                                                        Look Inside
                                                    </a>
                                                </h3>
                                                <div style="margin-top:10px;"></div>
                                                <p>
                                                    <b>ISBN #</b><br />
                                                    978-969-600-023-5
                                                    <b>Price:</b> Rs.195/-
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="first vgw-items col-md-2 col-xs-6 post-207 product type-product status-publish has-post-thumbnail product_cat-arts-photography product_cat-audiobooks product_cat-biographies product_cat-business-money product_cat-bussiness-money product_cat-calendars product_cat-casual-shirts product_cat-childrens-books product_cat-chinos product_cat-comics product_cat-computers product_cat-cookbooks product_cat-dress-pants product_cat-education product_cat-limited-edition product_cat-mens product_cat-womens product_tag-tag1 product_tag-tag2 product_tag-tag3 product_tag-tag4 instock sale featured taxable shipping-taxable purchasable product-type-simple">

                                    <div class="vgw-item effect-3">
                                        <div class="list-col4">
                                            <div class="product-image">
                                                <div class="product-label">


                                                </div>
                                                <a href="/Ebook/QuickView/57" class="bookquickview" title="Urdu Likhy Rang Bharain">
                                                    <img width="200" height="280" src="~/Content/Mockups/LetsStartLearning/BW-Urdu-Likhay-Rang-Bharain-1-A.jpg" class="primary_image lazy wp-post-image" alt="Urdu Likhy Rang Bharain" /><span class="second"><img width="200" height="280" src="~/Content/Mockups/LetsStartLearning/BW-Urdu-Likhay-Rang-Bharain-1-B.jpg" class="secondary_image lazy" alt="Urdu Likhy Rang Bharain" /></span>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="list-col8">
                                            <div class="product-content">
                                                <h3 class="product-title">
                                                    <br />
                                                    <a href="/Ebook/QuickView/57" class="bookquickview">Let's Start Learning<br /><br />Urdu Likhy Rang Bharain<br /></a><br />
                                                    <a href="/Ebook/UrduLikhayRangLSL/" target="_blank" class="single_add_to_cart_button button" style="color:white">
                                                        Look Inside
                                                    </a>
                                                </h3>
                                                <div style="margin-top:10px;"></div>
                                                <p>
                                                    <b>ISBN #</b><br />
                                                    978-969-600-024-2
                                                    <b>Price:</b> Rs.195/-
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <h3 style="font-size: 18px;text-align: left" class="vc_custom_heading custom-heading vc_custom_1490581250175">Description</h3>
                            <p>
                                Let’s Start Learning series is specially  designed for the students of nursery classes. This series is comprised of six books.
                            </p>
                            <p>
                                Two books are mainly developed to comprehend the English, Urdu alphabets and their exact pronunciation. Each letter bears various colourful pictures to clear the student’s concepts.
                            </p>
                            <p>
                                Other three books are workbooks. Adequate space for practice  is provided for each letter. Besides coloured pictures, some sketched pictures for colouring are also included.
                            </p>
                            <p>
                                Letter practice pages have colourful background. Book material is also of good quality.
                            </p>
                            <p>
                                All the above mentioned salient features of ‘Let’s Start Learning’ series make our efforts a true step towards the rightful learning direction.
                            </p>
                            <p>
                                Your encouraging response to our efforts will motivate us to take more steps towards bringing about more quality books.
                            </p>
                            <div style="margin-bottom:40px;"></div>
                        </div>
                    </div>
                </div>

                <div class="pull-left wpb_column vc_column_container vc_col-sm-4 vc_col-lg-3 vc_col-md-4">
                    <div class="vc_column-inner ">
                        <div class="wpb_wrapper">
                            <div class="vc_row wpb_row vc_inner vc_row-fluid vc_custom_1490545088729">
                                <div class="wpb_column vc_column_container vc_col-sm-12">
                                    <div class="vc_column-inner ">
                                        <div class="wpb_wrapper">
                                            <div class="wpb_widgetised_column wpb_content_element">
                                                <div class="wpb_wrapper">

                                                    <aside id="vg_skybook_category_treeview-2" class="widget sidebar sidebar-shop widget_vg_skybook_category_treeview">
                                                        <div class="widget-title"><h3 class="wgtitle style-title">Categories</h3></div>
                                                        <div id="vgw-category-treeview_sidebar" class="vg-skybook-category-treeview ">
                                                            <ul class="level0 filetree">
                                                                <li class="0">
                                                                    <a href="/BySeries/ScienceWorld/"><span class="catTitle folder">Science World</span></a>
                                                                <li class="0">
                                                                    <a href="/BySeries/GrammarMore/"><span class="catTitle folder">Grammar & More</span></a>
                                                                </li>
                                                                <li class="0">
                                                                    <a href="/BySeries/RightClick/"><span class="catTitle folder">Right Click: My Book of Computers</span></a>
                                                                </li>
                                                                <li class="0">
                                                                    <a href="/BySeries/UrduLikhai/"><span class="catTitle folder">Urdu Likhai</span></a>
                                                                </li>
                                                                <li class="0">
                                                                    <a href="/BySeries/FunArt/"><span class="catTitle folder">Fun Art: Art & Craft Activity Books</span></a>
                                                                </li>
                                                                <li class="0">
                                                                    <a href="/BySeries/SocialStudies/"><span class="catTitle folder">Social Studies for Pakistan</span></a>
                                                                </li>
                                                                <li class="0">
                                                                    <a href="/BySeries/SecondarySocialStudies/"><span class="catTitle folder">Secondary Social Studies for Pakistan</span></a>
                                                                </li>
                                                                <li class="0">
                                                                    <a href="/BySeries/BeginnerSeries/"><span class="catTitle folder">Beginners Series</span></a>
                                                                </li>
                                                                <li class="0">
                                                                    <a href="/BySeries/LetsStartLearning/"><span class="catTitle folder">Let's Start Learning</span></a>
                                                                </li>
                                                                <li class="0">
                                                                    <a href="/BySeries/MyFunToLearnLanguage/"><span class="catTitle folder">My Fun-to-Learn Language</span></a>
                                                                </li>
                                                                <li class="0">
                                                                    <a href="/BySeries/MyFunToLearnMath/"><span class="catTitle folder">My Fun-to-Learn Maths</span></a>
                                                                </li>
                                                                <li class="0">
                                                                    <a href="/BySeries/UrduKiAmliKitab/"><span class="catTitle folder">Urdu Ki Amli Kitab</span></a>
                                                                </li>
                                                                <li class="0">
                                                                    <a href="/BySeries/AlhusnaIslamyat"><span class="catTitle folder">Alhusna Islamiyat</span></a>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </aside>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="vc_row-full-width vc_clearfix"></div>
        </article>
    </div>
</div>
<script type="text/javascript">
    jQuery(document).ready(function ($) {
        $(".bookquickview").click(function (event) {
            event.preventDefault();
            var elt = $(this);
            $.ajax(
                {
                    url: elt.attr("href"),
                    type: "get"
                }
            ).done(function (result) {
                $("#myquickviewnew").html(result);
            });
        });
    });
</script>
