﻿
@{
    ViewBag.Title = "SocialStudies";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<div class="page-content">
    <div class="container-fluid">
        <article id="post-74" class="post-74 page type-page status-publish hentry">
            <div class="vc_row wpb_row vc_row-fluid banner-box-left vc_custom_1490772168459 vc_column-gap-15">
            </div>
            <div class="vc_row wpb_row vc_row-fluid vc_column-gap-15">
                <div class="pull-right wpb_column vc_column_container vc_col-sm-8 vc_col-lg-9 vc_col-md-8">
                    <div class="vc_column-inner vc_custom_1498037949212">
                        <div class="wpb_wrapper">
                            <h3 style="font-size: 18px;text-align: left" class="vc_custom_heading custom-heading vc_custom_1490581250175">Social Studies for Pakistan</h3>
                            <div class="shop-products grid-view row">

                                <div class="first vgw-items col-md-2 col-xs-6 post-207 product type-product status-publish has-post-thumbnail product_cat-arts-photography product_cat-audiobooks product_cat-biographies product_cat-business-money product_cat-bussiness-money product_cat-calendars product_cat-casual-shirts product_cat-childrens-books product_cat-chinos product_cat-comics product_cat-computers product_cat-cookbooks product_cat-dress-pants product_cat-education product_cat-limited-edition product_cat-mens product_cat-womens product_tag-tag1 product_tag-tag2 product_tag-tag3 product_tag-tag4 instock sale featured taxable shipping-taxable purchasable product-type-simple">

                                    <div class="vgw-item effect-3">
                                        <div class="list-col4">
                                            <div class="product-image">
                                                <div class="product-label">
                                                     
                                                     
                                                </div>
                                                <a href="/Ebook/QuickView/34" class="bookquickview" title="Pre-Primary A">
                                                    <img width="200" height="280" src="~/Content/Mockups/SocialStudies/BW-Social-Studies-A-A.jpg" class="primary_image lazy wp-post-image" alt="Pre-Primary A" /><span class="second"><img width="200" height="280" src="~/Content/Mockups/SocialStudies/BW-Social-Studies-A-B.jpg" class="secondary_image lazy" alt="Pre-Primary A" /></span>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="list-col8">
                                            <div class="product-content">
                                                <h3 class="product-title">
                                                    <br />
                                                    <a href="/Ebook/QuickView/34" class="bookquickview">Social Studies for Pakistan<br /><br />Pre-Primary A<br /></a><br />
                                                    <a class="single_add_to_cart_button button" style="color:white">
                                                        Coming Soon
                                                    </a>
                                                </h3>
                                                <div style="margin-top:10px;"></div>
                                                <p>
                                                    <b>ISBN #</b><br />
                                                    978-969-600-014-3
                                                    <b>Price:</b> Rs.180/-
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="first vgw-items col-md-2 col-xs-6 post-207 product type-product status-publish has-post-thumbnail product_cat-arts-photography product_cat-audiobooks product_cat-biographies product_cat-business-money product_cat-bussiness-money product_cat-calendars product_cat-casual-shirts product_cat-childrens-books product_cat-chinos product_cat-comics product_cat-computers product_cat-cookbooks product_cat-dress-pants product_cat-education product_cat-limited-edition product_cat-mens product_cat-womens product_tag-tag1 product_tag-tag2 product_tag-tag3 product_tag-tag4 instock sale featured taxable shipping-taxable purchasable product-type-simple">

                                    <div class="vgw-item effect-3">
                                        <div class="list-col4">
                                            <div class="product-image">
                                                <div class="product-label">
                                                     
                                                     
                                                </div>
                                                <a href="/Ebook/QuickView/35" class="bookquickview" title="Pre-Primary B">
                                                    <img width="200" height="280" src="~/Content/Mockups/SocialStudies/BW-Social-Studies-B-A.jpg" class="primary_image lazy wp-post-image" alt="Pre-Primary B" /><span class="second"><img width="200" height="280" src="~/Content/Mockups/SocialStudies/BW-Social-Studies-B-B.jpg" class="secondary_image lazy" alt="Pre-Primary B" /></span>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="list-col8">
                                            <div class="product-content">
                                                <h3 class="product-title">
                                                    <br />
                                                    <a href="/Ebook/QuickView/35" class="bookquickview">Social Studies for Pakistan<br /><br />Pre-Primary B<br /></a><br />
                                                    <a class="single_add_to_cart_button button" style="color:white">
                                                        Coming Soon
                                                    </a>
                                                </h3>
                                                <div style="margin-top:10px;"></div>
                                                <p>
                                                    <b>ISBN #</b><br />
                                                    978-969-600-015-0
                                                    <b>Price:</b> Rs.180/-
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="first vgw-items col-md-2 col-xs-6 post-207 product type-product status-publish has-post-thumbnail product_cat-arts-photography product_cat-audiobooks product_cat-biographies product_cat-business-money product_cat-bussiness-money product_cat-calendars product_cat-casual-shirts product_cat-childrens-books product_cat-chinos product_cat-comics product_cat-computers product_cat-cookbooks product_cat-dress-pants product_cat-education product_cat-limited-edition product_cat-mens product_cat-womens product_tag-tag1 product_tag-tag2 product_tag-tag3 product_tag-tag4 instock sale featured taxable shipping-taxable purchasable product-type-simple">

                                    <div class="vgw-item effect-3">
                                        <div class="list-col4">
                                            <div class="product-image">
                                                <div class="product-label">
                                                     
                                                     
                                                </div>
                                                <a href="/Ebook/QuickView/36" class="bookquickview" title="Book 1">
                                                    <img width="200" height="280" src="~/Content/Mockups/SocialStudies/BW-Social-Studies-1-A.jpg" class="primary_image lazy wp-post-image" alt="Book 1" /><span class="second"><img width="200" height="280" src="~/Content/Mockups/SocialStudies/BW-Social-Studies-1-B.jpg" class="secondary_image lazy" alt="Book 1" /></span>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="list-col8">
                                            <div class="product-content">
                                                <h3 class="product-title">
                                                    <br />
                                                    <a href="/Ebook/QuickView/36" class="bookquickview">Social Studies for Pakistan<br /><br />Book 1<br /></a><br />
                                                    <a class="single_add_to_cart_button button" style="color:white">
                                                        Coming Soon
                                                    </a>
                                                </h3>
                                                <div style="margin-top:10px;"></div>
                                                <p>
                                                    <b>ISBN #</b><br />
                                                    978-969-600-016-7
                                                    <b>Price:</b> Rs.230/-
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="first vgw-items col-md-2 col-xs-6 post-207 product type-product status-publish has-post-thumbnail product_cat-arts-photography product_cat-audiobooks product_cat-biographies product_cat-business-money product_cat-bussiness-money product_cat-calendars product_cat-casual-shirts product_cat-childrens-books product_cat-chinos product_cat-comics product_cat-computers product_cat-cookbooks product_cat-dress-pants product_cat-education product_cat-limited-edition product_cat-mens product_cat-womens product_tag-tag1 product_tag-tag2 product_tag-tag3 product_tag-tag4 instock sale featured taxable shipping-taxable purchasable product-type-simple">

                                    <div class="vgw-item effect-3">
                                        <div class="list-col4">
                                            <div class="product-image">
                                                <div class="product-label">
                                                     
                                                     
                                                </div>
                                                <a href="/Ebook/QuickView/37" class="bookquickview" title="Book 2">
                                                    <img width="200" height="280" src="~/Content/Mockups/SocialStudies/BW-Social-Studies-2-A.jpg" class="primary_image lazy wp-post-image" alt="Book 2" /><span class="second"><img width="200" height="280" src="~/Content/Mockups/SocialStudies/BW-Social-Studies-2-B.jpg" class="secondary_image lazy" alt="Book 2" /></span>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="list-col8">
                                            <div class="product-content">
                                                <h3 class="product-title">
                                                    <br />
                                                    <a href="/Ebook/QuickView/37" class="bookquickview">Social Studies for Pakistan<br /><br />Book 2<br /></a><br />
                                                    <a class="single_add_to_cart_button button" style="color:white">
                                                        Coming Soon
                                                    </a>
                                                </h3>
                                                <div style="margin-top:10px;"></div>
                                                <p>
                                                    <b>ISBN #</b><br />
                                                    978-969-600-017-4
                                                    <b>Price:</b> Rs.240/-
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="first vgw-items col-md-2 col-xs-6 post-207 product type-product status-publish has-post-thumbnail product_cat-arts-photography product_cat-audiobooks product_cat-biographies product_cat-business-money product_cat-bussiness-money product_cat-calendars product_cat-casual-shirts product_cat-childrens-books product_cat-chinos product_cat-comics product_cat-computers product_cat-cookbooks product_cat-dress-pants product_cat-education product_cat-limited-edition product_cat-mens product_cat-womens product_tag-tag1 product_tag-tag2 product_tag-tag3 product_tag-tag4 instock sale featured taxable shipping-taxable purchasable product-type-simple">

                                    <div class="vgw-item effect-3">
                                        <div class="list-col4">
                                            <div class="product-image">
                                                <div class="product-label">
                                                     
                                                     
                                                </div>
                                                <a href="/Ebook/QuickView/38" class="bookquickview" title="Book 3">
                                                    <img width="200" height="280" src="~/Content/Mockups/SocialStudies/BW-Social-Studies-3-A.jpg" class="primary_image lazy wp-post-image" alt="Book 3" /><span class="second"><img width="200" height="280" src="~/Content/Mockups/SocialStudies/BW-Social-Studies-3-B.jpg" class="secondary_image lazy" alt="Book 3" /></span>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="list-col8">
                                            <div class="product-content">
                                                <h3 class="product-title">
                                                    <br />
                                                    <a href="/Ebook/QuickView/38" class="bookquickview">Social Studies for Pakistan<br /><br />Book 3<br /></a><br />
                                                    <a class="single_add_to_cart_button button" style="color:white">
                                                        Coming Soon
                                                    </a>
                                                </h3>
                                                <div style="margin-top:10px;"></div>
                                                <p>
                                                    <b>ISBN #</b><br />
                                                    978-969-600-018-1
                                                    <b>Price:</b> Rs.250/-
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="first vgw-items col-md-2 col-xs-6 post-207 product type-product status-publish has-post-thumbnail product_cat-arts-photography product_cat-audiobooks product_cat-biographies product_cat-business-money product_cat-bussiness-money product_cat-calendars product_cat-casual-shirts product_cat-childrens-books product_cat-chinos product_cat-comics product_cat-computers product_cat-cookbooks product_cat-dress-pants product_cat-education product_cat-limited-edition product_cat-mens product_cat-womens product_tag-tag1 product_tag-tag2 product_tag-tag3 product_tag-tag4 instock sale featured taxable shipping-taxable purchasable product-type-simple">

                                    <div class="vgw-item effect-3">
                                        <div class="list-col4">
                                            <div class="product-image">
                                                <div class="product-label">
                                                     
                                                     
                                                </div>
                                                <a href="/Ebook/QuickView/39" class="bookquickview" title="Book 4">
                                                    <img width="200" height="280" src="~/Content/Mockups/SocialStudies/BW-Social-Studies-4-A.jpg" class="primary_image lazy wp-post-image" alt="Book 4" /><span class="second"><img width="200" height="280" src="~/Content/Mockups/SocialStudies/BW-Social-Studies-4-B.jpg" class="secondary_image lazy" alt="Book 4" /></span>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="list-col8">
                                            <div class="product-content">
                                                <h3 class="product-title">
                                                    <br />
                                                    <a href="/Ebook/QuickView/39" class="bookquickview">Social Studies for Pakistan<br /><br />Book 4<br /></a><br />
                                                    <a class="single_add_to_cart_button button" style="color:white">
                                                        Coming Soon
                                                    </a>
                                                </h3>
                                                <div style="margin-top:10px;"></div>
                                                <p>
                                                    <b>ISBN #</b><br />
                                                    978-969-600-019-8
                                                    <b>Price:</b> Rs.260/-
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="first vgw-items col-md-2 col-xs-6 post-207 product type-product status-publish has-post-thumbnail product_cat-arts-photography product_cat-audiobooks product_cat-biographies product_cat-business-money product_cat-bussiness-money product_cat-calendars product_cat-casual-shirts product_cat-childrens-books product_cat-chinos product_cat-comics product_cat-computers product_cat-cookbooks product_cat-dress-pants product_cat-education product_cat-limited-edition product_cat-mens product_cat-womens product_tag-tag1 product_tag-tag2 product_tag-tag3 product_tag-tag4 instock sale featured taxable shipping-taxable purchasable product-type-simple">

                                    <div class="vgw-item effect-3">
                                        <div class="list-col4">
                                            <div class="product-image">
                                                <div class="product-label">
                                                     
                                                     
                                                </div>
                                                <a href="/Ebook/QuickView/40" class="bookquickview" title="Book 5">
                                                    <img width="200" height="280" src="~/Content/Mockups/SocialStudies/BW-Social-Studies-5-A.jpg" class="primary_image lazy wp-post-image" alt="Book 5" /><span class="second"><img width="200" height="280" src="~/Content/Mockups/SocialStudies/BW-Social-Studies-5-B.jpg" class="secondary_image lazy" alt="Book 5" /></span>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="list-col8">
                                            <div class="product-content">
                                                <h3 class="product-title">
                                                    <br />
                                                    <a href="/Ebook/QuickView/40" class="bookquickview">Social Studies for Pakistan<br /><br />Book 5<br /></a><br />
                                                    <a class="single_add_to_cart_button button" style="color:white">
                                                        Coming Soon
                                                    </a>
                                                </h3>
                                                <div style="margin-top:10px;"></div>
                                                <p>
                                                    <b>ISBN #</b><br />
                                                    978-969-600-020-4
                                                    <b>Price:</b> Rs.270/-
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <h3 style="font-size: 18px;text-align: left" class="vc_custom_heading custom-heading vc_custom_1490581250175">Description</h3>
                            <p>
                                ‘’A good book is a treasure house of knowledge’’. Having this thing in mind, the current series of Bookwise on Social Studies is designed for young students.
                            </p>
                            <p>
                                It is observed that sometimes the students feel difficulty in understanding the second language.
                            </p>
                            <p>
                                So the present effort bears very easy language and simple method. The topics of chapters cover all social needs of the mind. The chapter relating to morals, Pakistan movement, geography of Pakistan and society are the leading traits of this series. The pictures not only beautify the books but also make it easy to understand the topics.
                            </p>
                            <p>
                                The series is prepared under the supervision of experienced and learned teachers who spent their whole life in the field of teaching and education.
                            </p>
                            <div style="margin-bottom:40px;"></div>
                        </div>
                    </div>
                </div>

                <div class="pull-left wpb_column vc_column_container vc_col-sm-4 vc_col-lg-3 vc_col-md-4">
                    <div class="vc_column-inner ">
                        <div class="wpb_wrapper">
                            <div class="vc_row wpb_row vc_inner vc_row-fluid vc_custom_1490545088729">
                                <div class="wpb_column vc_column_container vc_col-sm-12">
                                    <div class="vc_column-inner ">
                                        <div class="wpb_wrapper">
                                            <div class="wpb_widgetised_column wpb_content_element">
                                                <div class="wpb_wrapper">

                                                    <aside id="vg_skybook_category_treeview-2" class="widget sidebar sidebar-shop widget_vg_skybook_category_treeview">
                                                        <div class="widget-title"><h3 class="wgtitle style-title">Categories</h3></div>
                                                        <div id="vgw-category-treeview_sidebar" class="vg-skybook-category-treeview ">
                                                            <ul class="level0 filetree">
                                                                <li class="0">
                                                                    <a href="/BySeries/ScienceWorld/"><span class="catTitle folder">Science World</span></a>
                                                                <li class="0">
                                                                    <a href="/BySeries/GrammarMore/"><span class="catTitle folder">Grammar & More</span></a>
                                                                </li>
                                                                <li class="0">
                                                                    <a href="/BySeries/RightClick/"><span class="catTitle folder">Right Click: My Book of Computers</span></a>
                                                                </li>
                                                                <li class="0">
                                                                    <a href="/BySeries/UrduLikhai/"><span class="catTitle folder">Urdu Likhai</span></a>
                                                                </li>
                                                                <li class="0">
                                                                    <a href="/BySeries/FunArt/"><span class="catTitle folder">Fun Art: Art & Craft Activity Books</span></a>
                                                                </li>
                                                                <li class="0">
                                                                    <a href="/BySeries/SocialStudies/"><span class="catTitle folder">Social Studies for Pakistan</span></a>
                                                                </li>
                                                                <li class="0">
                                                                    <a href="/BySeries/SecondarySocialStudies/"><span class="catTitle folder">Secondary Social Studies for Pakistan</span></a>
                                                                </li>
                                                                <li class="0">
                                                                    <a href="/BySeries/BeginnerSeries/"><span class="catTitle folder">Beginners Series</span></a>
                                                                </li>
                                                                <li class="0">
                                                                    <a href="/BySeries/LetsStartLearning/"><span class="catTitle folder">Let's Start Learning</span></a>
                                                                </li>
                                                                <li class="0">
                                                                    <a href="/BySeries/MyFunToLearnLanguage/"><span class="catTitle folder">My Fun-to-Learn Language</span></a>
                                                                </li>
                                                                <li class="0">
                                                                    <a href="/BySeries/MyFunToLearnMath/"><span class="catTitle folder">My Fun-to-Learn Maths</span></a>
                                                                </li>
                                                                <li class="0">
                                                                    <a href="/BySeries/UrduKiAmliKitab/"><span class="catTitle folder">Urdu Ki Amli Kitab</span></a>
                                                                </li>
                                                                <li class="0">
                                                                    <a href="/BySeries/AlhusnaIslamyat"><span class="catTitle folder">Alhusna Islamiyat</span></a>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </aside>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="vc_row-full-width vc_clearfix"></div>
        </article>
    </div>
</div>
<script type="text/javascript">
    jQuery(document).ready(function ($) {
        $(".bookquickview").click(function (event) {
            event.preventDefault();
            var elt = $(this);
            $.ajax(
                {
                    url: elt.attr("href"),
                    type: "get"
                }
            ).done(function (result) {
                $("#myquickviewnew").html(result);
            });
        });
    });
</script>
